@import url(http://fonts.googleapis.com/css?family=Arbutus+Slab);
@import url(http://fonts.googleapis.com/css?family=Vast+Shadow);

#header {
    font-weight: bold;
    z-index: 1;
    background-color: #DDD;
    height: 35px;
    padding: 10px;
}
body{



    font-family: 'Arbutus Slab';
}

#filter{
    margin-bottom: 10px;
}

.FilterButton{
    width: 30px;
}


.error{
    border-color: red;
    color: red;
    border-style: solid;
    padding: 2px;
    margin: 2px;
}

.success{
    border-color: green;
    color: green;
    border-style: solid;
    padding: 2px;
    margin: 2px;
}

#page {
    position: relative;
    margin: 0px auto;
    width: 90%;
}

#logo {
    position: fixed;
    top: 5px;
    left: 15px;
}

#navigationMenu {
    background-color: #DFEFFC;
    bottom: 66px;
    margin-right: 30px;
    max-width: 240px;
    min-width: 190px;
    position: relative;
}

#buttonMenu {

    float: left;
    height: 30px;
    padding-top: 5px;
}

.buttonMenuButton {
    font-size: 20px;
    margin-top: 15px;
    margin-left: 5px;
    margin-right: 5px;
    padding-left: 5px;
    padding-right: 5px;
    color: #00458A;
    border-left-style: solid;
    border-left-color: #B9181E;
    border-left-width: 5px;
    border-right-style: solid;
    border-right-color: #B9181E;
    border-right-width: 5px;
    border-color: #00458A;
    border-style: solid;
    background-color: #EEE;
    border-radius: 5px;
}


#search {
    height: 30px;
    margin-left: 1px;
    margin-right: 20px;
    margin-top: 1px;
    padding-left: 15px;
    padding-right: 15px;
    width: 192px;
}

#searchDiv {

    display: inline;
}
#helpLinkDiv{
    display:inline;
    margin-right:50px;

}
#helpLink{
    font-size:20px;
    color: #00458A;
    border-style: solid;
    border-radius: 5px;
}
.helpTextDiv {
    background-color: #EEE;
    position: absolute;
    top: 50px;
    width: 230px;
    padding: 7px;
}

.ui-timepicker-div .ui-widget-header {
    margin-bottom: 8px;
}

.ui-timepicker-div dl {
    text-align: left;
}

.ui-timepicker-div dl dt {
    height: 25px;
}

.ui-timepicker-div dl dd {
    margin: -25px 0 10px 65px;
}

.ui-timepicker-div td {
    font-size: 90%;
}

.helpTextDiv h1 {
    color: #00458A;
    font-size: 20px;
    text-align: center;
}


#loginNameMenu {
    float: right;
    font-size: 14px;
    position: relative;
    width: 171px;
    z-index: 2;
}


.ui-menu-item {
    z-index: 2;
}

#subMenuList {
    padding: 0px;
    overflow: hidden
}

#menu {
    background-color: #EEE;
}

.crumb {
    color: #00458A;
    font-size: 26px;
    display: inline;
}

.categoryHeadline {
    color: #00458A;
    font-size: 26px;

}

.crumb span {
    color: #B9181E;
}

.headerTab {
    margin-right: 10px;
    margin-left: 10px;
    padding-right: 10px;
    padding-left: 10px;
    font-size: 20px;
    display: inline;
    color: #B9181E;
    border-left-style: solid;
    border-left-color: #B9181E;
    border-left-width: 5px;
    border-right-style: solid;
    border-right-color: #B9181E;
    border-right-width: 5px;
}

.headerTabIanctive {

    color: #00458A;
    border-left-style: solid;
    border-left-color: #B9181E;
    border-left-width: 5px;
    border-right-style: solid;
    border-right-color: #B9181E;
    border-right-width: 5px;
}

.headerTabDeactive {

    color: gray;
    border-left-style: solid;
    border-left-color: grey;
    border-left-width: 5px;
    border-right-style: solid;
    border-right-color: grey;
    border-right-width: 5px;
}

.ui-tabs-nav {
    display: none;
}

#content {
    font-family: 'Arbutus Slab', serif;
    left: 270px;
    position: absolute;
    top: 0px;
    min-width: 50%;
}

.overViewDiv {
    background-color: #EEE;
    border: 4px solid #BBB;
    color: #00458A;
    display: inline-block;
    height: 300px;
    margin-bottom: 20px;
    margin-right: 15px;
    text-align: center;
    text-decoration: none;
    width: 280px;
    overflow: hidden;
}

.overViewContentDiv {
    background-color: #FFF;
    display: inline-block;
    margin-right: 13px;
    margin-top: 13px;
    padding: 8px;
    position: relative;
    top: 44px;
    border-style: solid;
    border-radius: 10px;
    border-color: #265FAB;
    border-width: 1px;
    border-radius: 5px;
}

.helpTextDiv {

}

#overViewHeader {
    background-color: #BBB;
    border-bottom-right-radius: 10px;
    border-color: #03588C;
    font-size: 23px;
    height: 33px;
    position: absolute;
    width: 240px;
    overflow: hidden;
}

a {
    text-decoration: none
}

/*custom checkboxes*/
.icn {
    width: 30px;
    height: 30px;
    padding: 0px;
    margin: 0px;

}

.customChList li input[type='checkbox'] {
    display: none;
}

.customChList li label {
    font-size: 18px;
    padding-left: 35px;
    background: url(/img/add-icon.png) no-repeat;
}

.customChList li label:hover {
    background-position: 0px -32px;
}

.customChList li label.checked {
    background-position: 0px -64px;
}

/*

Only for Login and Register Page

*/

#heading{
    background: none repeat scroll 0 0 #DDDDDD;
    border-bottom: 0px solid;
    padding: 10px;
    position: relative;
    width: 100%;
    height: 74px;
}

#RegisterBtnCell {
    text-align: right;
}

#loginInfoText {
    margin: 50px;
    position: relative;
    width: 50%;
    font-weight: bold;
    text-align: center;


}

#loginContent {
    background: none repeat scroll 0 0 #EEEEEE;
    border: 1px solid #888888;
    border-radius: 15px 15px 15px 15px;
    float: right;
    margin-left: 5px;
    padding: 20px;
    position: absolute;
    right: 216px;
    top: 135px;

}

#loginText {
    position: absolute;
    left: 0px;
    width: 450px;
}

#infoDiv {
    display: inline;
    min-width: 50%;
}

#LoginRegisterDiv {

}

.categoryDiv {
    position: relative;
    display: block;
}

.categoryHeadline {
    display: block;
}

#registerDiv {
    background: none repeat scroll 0 0 #EEEEEE;
    border: 1px solid #888888;
    border-radius: 15px 15px 15px 15px;
    float: right;
    margin-left: 5px;
    padding: 20px;
    position: absolute;
    right: 216px;
}
.historyTable{

    border: 1px solid #6688AA;


}
.historyTable caption {
    background-color: #6688AA;
    font-family: Arial, Verdana, sans-serif;
    font-weight: normal;
    font-size: 12px;
    color: #FFFFFF;
    padding: 6px 3px 3px 3px;
}

.historyTable thead th {
    font: bold 11px Arial, Verdana, sans-serif;
    padding: 3px;
    background-color: #CCDDEE;
    border: 1px solid #FFFFFF;
    text-align: center;
    color: #4E6C8D;
    font-weight: normal;
}

.historyTable td {
    font: normal 11px Arial, Verdana, sans-serif;
    padding: 5px 5px;
    background-color: #DDEEFF;
    border: 1px solid #FFFFFF;
    line-height: 130%;

}


.datasets {
    width: 200px;
    border: 1px solid #6688AA;
}

.datasets caption {
    background-color: #6688AA;
    font-family: Arial, Verdana, sans-serif;
    font-weight: normal;
    font-size: 14px;
    color: #FFFFFF;
    padding: 6px 3px 3px 3px;
}

.datasets thead th {
    font: bold 13px Arial, Verdana, sans-serif;
    padding: 3px;
    background-color: #CCDDEE;
    border: 1px solid #FFFFFF;
    text-align: center;
    color: #4E6C8D;
    font-weight: normal;
}

.datasets td {
    font: normal 13px Arial, Verdana, sans-serif;
    padding: 5px 5px;
    background-color: #DDEEFF;
    border: 1px solid #FFFFFF;
    line-height: 130%;
    text-align: center;
}

/*
* BEGIN: new classes
*/

.wrapButtonMenu {
    left: 270px;
    padding-top: 5px;
    position: absolute;
    top: 65px;
}

.labelButtonMenu {
    float: left;
    line-height: 30px;
    margin-right: 15px;
    padding-top: 3px;
}

.wrapContent {
    position: absolute;
    top: 120px;
    width: 90%;
}

/*
* END: new classes
*/

/*
* Bilder
*/

#LoginPic {
    left: 300px;
    position: relative;
    top: 20px;
    width: 30%;
}


#Slogan {
    font-family: 'Vast Shadow',cursive;
    font-size: 35px;
    position: relative;
    right: 53px;
    top: 20px;
    width: 90%;
}
.minus{
    font-size: 10px;
    border-width: 1px;
    border: solid;
    border-color: #ffffff;
     border-radius: 3px;
}
.plus{
    font-size: 10px;
    border-width: 1px;
    border: solid;
    border-color: #ffffff;
    border-radius: 3px;
}
.headnav{

}