		@import url(http://fonts.googleapis.com/css?family=Mr+Dafoe);
		@import url(http://fonts.googleapis.com/css?family=Arbutus+Slab);
	
		
		#header{
            position: fixed;
            z-index: 1;
            background-image: url("../img/header_bg.png");
            height: 30px;
            color: #1e3d68;
            text-align: center;
            font-size: 30px;
            font-weight: bolder;
            padding: 10px;
            width: 100%;

		}

        #page{
            position: relative;
            margin: 0px auto;
            width: 90%;
        }

        #logo{
         position:fixed;
			top:5px;
			left:15px;
        }

        #navigationMenu{
            background-color: DFEFFC;
            width: 150px;
            padding-bottom: 5px;
            margin-top:10px;
        }

        #buttonMenu{
            position: relative;

        }

#search{
    width: 150px;
}
		#loginNameMenu{
			z-index:2;
			font-size:14px;
			position:fixed;
			top:5px;
			right:5px;

		}
		
		#subMenuList{
			padding:0px;
			overflow:hidden	
		}
		
		
		#menu{
			background-color:blue;
		}

		#navigationMenu{

		}
	
		#content{
			font-family: 'Arbutus Slab', serif;
            position: relative;
            margin-top: 10px;
            width: 850px;
		}

        .overViewDiv{
            font-family: 'Arbutus Slab', serif;
            float: left;
            margin-bottom: 5px;
            margin-right: 5px;
            text-align: center;
            position: relative;
            color:#071418 ;
            height: 140px;
            background-color: #1e3d68;
            border: 4px solid #071418;
            border-style:solid;
            width: 200px;
            text-decoration: none;
        }

        .overViewContentDiv{
            background-color: #2E6E9E;
            border-color: #0055CC;
            border-radius: 19px 19px 19px 19px;
            border-style: ridge;
            display: inline;
            font-family: 'Arbutus Slab',serif;
            margin-right: 5px;
            padding: 0 10px;
            position: relative;
            text-align: left;
            top: 35px;
        }

        #overViewHeader{
           background-color: cornflowerblue;
           border-color: #0055CC;
           font-family: 'Arbutus Slab',serif;
           margin-bottom: 5px;
           position: absolute;
           text-align: center;
           width: 100%;
        }

        a{
            text-decoration: none
        }

		/*
		
		Only for Login and Register Page
		
		*/
		
	
		#RegisterBtnCell{
			text-align:right;
		
		}
		
		#infoDiv{
			position:absolute;
			top:5%;
			left:5%;
			width:300px;
			height:500px;
		}
		#LoginRegisterDiv{
			
			top:200px;
			left:800px;
			position:fixed;
			width:200px;
			height:500px;
		
		
		}
		#registerDiv{
			position:absolute;
			bottom:40%;
		
		}
		
		
		
		