{% load i18n %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <title>ProsDataBase</title>
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/static/css/jqueryui.css"/>
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">
    <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
    <script src="http://code.jquery.com/ui/1.10.2/jquery-ui.js"></script>
    <script src="/static/js/timepicker.js"></script>


    <style>
        {% block css %}
        {% endblock %}</style>
</head>


<body style="margin: -2px;top: 2px;padding: 2px;">
{% block body %}
    <div id=header>
    <div id="searchDiv">
        <input id="search" type="text" placeholder="search">
    </div>
    <a href="/table/" class="crumb">{% trans "Home" %}<span>></span></a>{% block header %}{% endblock %}
        <div id="loginNameMenu">
            <ul id="subMenuList">
                <li><a href="/settings/">{% trans "Settings" %}</a></li>
                <li><a id='adminMenu' href="#">{% trans "Admin" %}</a>
                    <ul id='adminSubMenu' style="right: 180px; z-index: 3;">
                        <li id='groupManagement'><a href="/groupadmin/">{% trans "Groups" %}</a></li>
                        <li id='userManagement'><a href="/useradmin/">{% trans "Users" %}</a></li>
                        <li id='categoryManagement'><a href="/categories/">{% trans "Categories" %}</a></li>
                    </ul>
                </li>
                <li onClick='logoutUser()'><a href='#'>{% trans "Logout" %}</a></li>
            </ul>

        </div>
</div>
    </div>
    <div class="wrapButtonMenu">

    <span id="buttonMenu">
        {% block menu %}
        {% endblock %}
    </span>
    </div>

    <div class="wrapContent">
        <div id="navigationMenu">
            {% block navigation %}
            {% endblock %}
        </div>
        <div id="content">
            {% block content %}
            {% endblock %}
        </div>
    </div>
{% endblock %}


{% block help %}
{% endblock %}


</body>
<script language="JavaScript" src="/static/js/methods.js"></script>

{% block javascript %}{% endblock %}

</html>