<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <title>ProsDataBase</title>
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/static/css/jqueryui.css"/>
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">
    <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
    <script src="http://code.jquery.com/ui/1.10.2/jquery-ui.js"></script>
    <script src="/static/js/timepicker.js"></script>

</head>


<body style="margin: -2px;top: 2px;padding: 2px;">
{% block body %}
<div id=header>
    <div id="searchDiv">
        <input id="search" type="text" placeholder="search">
    </div>
    <a href="/table/" class="crumb">Home <span>></span></a>{% block header %}{% endblock %}

    <div id="loginNameMenu">
        <p>Max Mustermann</p>


        <ul id="subMenuList">
            <li><a href="#">Settings</a></li>
            <li><a href="/groupadmin">Admin</a></li>
            <li><a href="/login">Logout</a></li>
        </ul>

    </div>
</div>
        <span id="buttonMenu">
                    {% block menu %}
                    {% endblock %}

                </span>

<div style="padding: 15px; position: relative; top: 80px;">
    <div style=" float: left;margin-left: -15px;position: relative; top: -35px;">

        <div id="navigationMenu">


            {% block navigation %}
            {% endblock %}
        </div>
    </div>


    <div id="content">
        {% block content %}
        {% endblock %}
    </div>
</div>

{% endblock %}


     {% block help %}
     {% endblock %}





</body>
<script language="JavaScript" src="/static/js/methods.js"></script>

{% block javascript %}{% endblock %}

</html>