{% extends "base.html" %}

{% block navigation %}
<div>groups</div>
<ul id="navigationMenuContent">

</ul>

{% endblock %}
{% block header %}
<a class="crumb" href='/groupadmin/' id='groupAdmin'> <span>></span></a>
<a class="crumb" href='/createGroup/' id='createGroup'> <span>></span></a>
{% endblock %}
{% block content %}
<span>group name:</span><br/>
<input type="text" id="groupName"><br/><br/>
<span>create tables:</span>
<input type="checkbox" id="createTables"><br/><br />
<span>create groups:</span>
<input type="checkbox" id="createGroups"><br /><br />
<span>allow user management:</span>
<input type="checkbox" id="userManager"><br /><br />
<textarea rows="4" cols="50" id="allAdmins">
</textarea><br />
<span>add users:</span><br/>
<textarea rows="4" cols="50" id="allUsers">
</textarea><br/>
<button id='createGroupButton'>create</button>
{% endblock %}


{% block javascript %}
<script language="JavaScript">

    init();
    function init() {

        $.getJSON('/api/myself/',function(data){
        if(data == null){
            window.location = "/login/";
        }
        else{
        if(!data.tableCreator){
            $("#createTableButton").remove();
        }
        if(!data.groupCreator && !data.userManager){
            $("#adminMenu").remove();

        }

        else {
            if(!data.groupCreator){
                $("#groupManagement").remove();
                $("#categoryManagement").remove();

            }

        if(!data.userManager){
            $("#userManagement").remove();
        }
    }
        }
    });


        $("#groupAdmin").prepend("groups");
        $("#createGroup").prepend("create group");

        $.getJSON('/api/user/', function (data) {

            var allUsers = data.users;

            $("#allUsers")
// don't navigate away from the field on tab when selecting an item
                    .bind("keydown", function (event) {
                        if (event.keyCode === $.ui.keyCode.TAB &&
                                $(this).data("ui-autocomplete").menu.active) {
                            event.preventDefault();
                        }
                    })
                    .autocomplete({
                        minLength: 0,
                        source: function (request, response) {
// delegate back to autocomplete, but extract the last term
                            response($.ui.autocomplete.filter(
                                    allUsers, extractLast(request.term)));
                        },
                        focus: function () {
// prevent value inserted on focus
                            return false;
                        },
                        select: function (event, ui) {
                            var terms = split(this.value);
// remove the current input
                            terms.pop();
// add the selected item
                            terms.push(ui.item.value);
// add placeholder to get the comma-and-space at the end
                            terms.push("");
                            this.value = terms.join(",");
                            return false;
                        }
                    });


             $("#allAdmins")
// don't navigate away from the field on tab when selecting an item
                    .bind("keydown", function (event) {
                        if (event.keyCode === $.ui.keyCode.TAB &&
                                $(this).data("ui-autocomplete").menu.active) {
                            event.preventDefault();
                        }
                    })
                    .autocomplete({
                        minLength: 0,
                        source: function (request, response) {
// delegate back to autocomplete, but extract the last term
                            response($.ui.autocomplete.filter(
                                    allUsers, extractLast(request.term)));
                        },
                        focus: function () {
// prevent value inserted on focus
                            return false;
                        },
                        select: function (event, ui) {
                            var terms = split(this.value);
// remove the current input
                            terms.pop();
// add the selected item
                            terms.push(ui.item.value);
// add placeholder to get the comma-and-space at the end
                            terms.push("");
                            this.value = terms.join(",");
                            return false;
                        }
                    });

        });

    }



    $("#createGroupButton").click(function(){


        groupObj = {};
        groupObj.name = $("#groupName").val();
        groupObj.groupCreator = $("#createGroups").is(":checked");
        groupObj.tableCreator = $("#createTables").is(":checked");
        groupObj.userManager = $("#userManager").is(":checked");
        groupObj.admins =getUsers($("#allAdmins").val());
        groupObj.users = getUsers($("#allUsers").val());

        console.log(groupObj);
        $.ajax({
        url: '/api/group/',
        type: 'post',
        data: JSON.stringify(groupObj),
        contentType: 'application/json',
        dataType: 'json'
    });


    });


    function getUsers(users){
       var allUsers = []
        var users = users;
        allUsers = users.split(',');
        return allUsers;
    }


    function split(val) {
        return val.split(/,\s*/);
    }

    function extractLast(term) {
        return split(term).pop();
    }
</script>
{% endblock %}