{% extends "base.html" %}


//TODO scrollable results: http://jqueryui.com/autocomplete/#maxheight ( CSS )
{% block navigation %}
        <div id="naviHeadline">help</div>

        <span id="naviContentSpan">On the first step...</span>
{% endblock %}

{% block content %}
    <div id="deleteAlertBox">Are you sure to delete this item?</div>

        <div id="tabs">
<ul>
    <li><a href="#tabs-1" id="tab_1">step 1</a></li>
    <li><a href="#tabs-2" id="tab_2">step 2</a></li>
    <li><a href="#tabs-3" id="tab_3">step 3</a></li>
</ul>
<div id="tabs-1">
     <span>Name:</span><br />
        <input type="text"><br /><br />
        <span>Table administrators</span><br />
        <table>
            <tr>
       <td><span>User</span></td>
        <td><span>Groups</span></td>
             </tr>

        <tr>
        <td><textarea name="user_eingabe" id="userAdmin" cols="40" rows="8"></textarea></td>
        <td><textarea name="group_eingabe" id="groupAdmin" cols="40" rows="8"></textarea></td>
        </tr>
        </table>

        <button id="nextButtonPage2">next</button>



</div>
<div id="tabs-2">

    <table id="columnTable">

        <tr><td></td><td>name</td><td>datatype</td></tr>
        <tr id="row_1"><td><button id="deleteButton_1">-</button></td><td><input type="text" id="field_1"></td><td><select id="selectDataType_1"></select></td></tr>
    </table>

    <button id="addColumn">+</button><br /><br />
    <button id="nextButtonPage3">next</button>
</div>
<div id="tabs-3">
    <!--TODO: Berechtigungen hier-->
    <button>create</button>

</div>
</div>









{% endblock %}

{% block javascript %}
<script language="JavaScript" >





// FIRST TAB

        // initialize variable
        columnID = 1;
        countChoiceInputs = 1;
        // initialize tabs
         $( "#tabs" ).tabs({
                collapsible: false,
                disabled: [1,2]

         });
//switch navi-content function
//click event for the first tab
   $("#tab_1").click(function(){
            $("#naviContentList").remove();
            $("#naviHeadline").remove();
            $("#naviContentSpan").remove();
            $("#navigationMenu").append("<div id='naviHeadline'>help</div>");
            $("#navigationMenu").append("<span id='naviContentSpan'>On the first step..</span>");





                });



            // function to switch to second tab
         $("#nextButtonPage2").click(function(){
            $("#tabs").tabs( "option", "disabled", [ 2 ]);
            $("#tabs").tabs("option","active",1);
            $("#naviContentList").remove();
             $("#naviHeadline").remove();
            $("#naviContentSpan").remove();
             $("#navigationMenu").append("<div id='naviHeadline'>help</div>");
            $("#navigationMenu").append("<span id='naviContentSpan'>On the second step..</span>");


              //click event for the second tab
                $("#tab_2").click(function(){
                $("#naviHeadline").remove();
                $("#naviContentSpan").remove();
                $("#naviContentList").remove();
                $("#navigationMenu").append("<div id='naviHeadline'>help</div>");
                $("#navigationMenu").append("<span id='naviContentSpan'>On the second step..</span>");


                });
         });

jQuery.getJSON('/api/user/',function(data){

    allUsers = data.users;

});
jQuery.getJSON('/api/group/',function(data){

    allGroups = data.groups;

});


        // functions for auto-complete
        function split( val ) {
            return val.split( /,\s*/ );
        }
        function extractLast( term ) {
            return split( term ).pop();
        }

        //auto complete for users
        $("#userAdmin")

         .bind( "keydown", function( event ) {
            if ( event.keyCode === $.ui.keyCode.TAB &&
            $( this ).data( "ui-autocomplete" ).menu.active ) {
            event.preventDefault();
            }
            })
        .autocomplete({

          source: function( request, response ) {

        response( $.ui.autocomplete.filter(
        allUsers, extractLast( request.term ) ) );
        },
        select: function(event,ui){
        var terms = split( this.value );

            terms.pop();

            terms.push( ui.item.value );

            terms.push( "" );
            this.value = terms.join( ", " );
            return false;

        }



        });

            //auto-complete for groups
        $("#groupAdmin")

         .bind( "keydown", function( event ) {
            if ( event.keyCode === $.ui.keyCode.TAB &&
            $( this ).data( "ui-autocomplete" ).menu.active ) {
            event.preventDefault();
            }
            })
        .autocomplete({

          source: function( request, response ) {

        response( $.ui.autocomplete.filter(
        allGroups, extractLast( request.term ) ) );
        },
        select: function(event,ui){
        var terms = split( this.value );

            terms.pop();

            terms.push( ui.item.value );

            terms.push( "" );
            this.value = terms.join( ", " );
            return false;

        }

        });

// SECOND TAB

     //array for datatypes
    datatypes = ["boolean","choice","date","numeric","text"];

    // function to get all table names

    function getTables(tables){
	for (key in tables) {

		var tablename = tables[key].name;

        datatypes.push(tablename);
    }
	}


 jQuery.getJSON('/api/table',function(data){

        getTables(data.tables);

      //fill first dropdown menu with datatypes
     for (key in datatypes){
       $("#selectDataType_1").append("<option value='"+datatypes[key]+"'>"+datatypes[key]+"</option>");
    };

    });












    //append different inputs for datatypes for the first input

    //min and max input for numeric datatype
    $('#selectDataType_1').change(function() {


    if($("#selectDataType_1").val()=="numeric"){
        $("#selectDataTypeCell_1").remove();
        $("#row_1").append("<td id='selectDataTypeCell_1'>min:<input type='text' id='min' size='10'>max:<input type='text' id='max' size='10'></td>");

    }
    //size for text datatype
    if($("#selectDataType_1").val()=="text"){

        $("#selectDataTypeCell_1").remove();
        $("#row_1").append("<td id='selectDataTypeCell_1'>size:<input type='text' id='size'></td>");

    }
    if($("#selectDataType_1").val()=="boolean"){

        $("#selectDataTypeCell_1").remove();

    }
    if($("#selectDataType_1").val()=="date"){

        $("#selectDataTypeCell_1").remove();

    }
    if($("#selectDataType_1").val()=="choice"){




        $("#selectDataTypeCell_1").remove();
        $("#row_1").append("<td id='selectDataTypeCell_1'><span id='choiceInputContent_1'></span><button id='addChoiceButton_1'>+</button></td>");




        // click event for button to add new choice inputs for the first row
        $("#addChoiceButton_1").click(function(){
            countChoiceInputs++;
            $("#choiceInputContent_1").append("<input size='10' type='text' id='choiceInput_"+countChoiceInputs+"'>");


            // to delete the input fields with escape and delete
            $("#choiceInput_"+countChoiceInputs).keyup(function(e){
             if(e.keyCode == 46 || e.keyCode == 27){
                   $(this).remove();
                  }

         })


        });

    }

      });



    //create delete function for the first input
        $("#deleteButton_1").click(function(){lastID= getNumber(this.id);$("#deleteAlertBox").dialog("open");});

    // method to add a column



    $("#addColumn").click(function(){

         columnID++;
         $("#columnTable").append("<tr id='row_"+columnID+"'><td><button id='deleteButton_"+columnID+"'>-</button></td><td><input type='text' id='field_"+columnID+"'></td><td><select id='selectDataType_"+columnID+"'></select></td></tr>");



         //fill dropdown menu with datatypes
        for (key in datatypes){
         $("#selectDataType_"+columnID).append("<option value='"+datatypes[key]+"'>"+datatypes[key]+"</option>");
        };


        // create delete-function for every column
         $("#deleteButton_"+columnID).click(function(){


        lastID = getNumber(this.id);
        $("#deleteAlertBox").dialog( "open" );


    });



     //append different inputs for datatypes for every row

    //min and max input for numeric datatype



    $("#selectDataType_"+columnID).change(function() {
    lastID = getNumber(this.id);

    $("#selectDataTypeCell_"+lastID).remove();
    if($("#selectDataType_"+lastID).val()=="numeric"){
        $("#selectDataTypeCell_"+lastID).remove();
        $("#row_"+lastID).append("<td id='selectDataTypeCell_"+lastID+"'>min:<input type='text' id='min' size='10'>max:<input type='text' id='max' size='10'></td>");

    }
    //size for text datatype
    if($("#selectDataType_"+lastID).val()=="text"){

        $("#selectDataTypeCell_"+lastID).remove();
        $("#row_"+lastID).append("<td id='selectDataTypeCell_"+lastID+"'>size:<input type='text' id='size'></td>");

    }
    if($("#selectDataType_"+lastID).val()=="boolean"){

        $("#selectDataTypeCell_"+lastID).remove();

    }
    if($("#selectDataType_"+lastID).val()=="date"){

        $("#selectDataTypeCell_"+lastID).remove();

    }

  if($("#selectDataType_"+lastID).val()=="choice"){




        $("#selectDataTypeCell_"+lastID).remove();
        $("#row_"+lastID).append("<td id='selectDataTypeCell_"+lastID+"'><span id='choiceInputContent_"+lastID+"'></span><button id='addChoiceButton_"+lastID+"'>+</button></td>");




        // click event for button to add new choice inputs for the first row
        $("#addChoiceButton_"+lastID).click(function(){
            countChoiceInputs++;
            $("#choiceInputContent_"+lastID).append("<input size='10' type='text' id='choiceInput_"+countChoiceInputs+"'>");


            // to delete the input fields with escape and delete
            $("#choiceInput_"+countChoiceInputs).keyup(function(e){
             if(e.keyCode == 46 || e.keyCode == 27){
                   $(this).remove();
                  }

         })


        });







    }

      });


    });


    // switch to page 3
       // function to switch to second tab
         $("#nextButtonPage3").click(function(){
            $("#tabs").tabs("enable",2);
            $("#tabs").tabs("option","active",2);
             $("#naviContentList").remove();
             $("#naviHeadline").remove();
             $("#naviContentSpan").remove();


             $("#navigationMenu").append("<div id='naviHeadline'>add Groups</div>");
            $("#navigationMenu").append("<ul id='naviContentList'><li>step3</li></ul>");
            //click event for the third tab
            $("#tab_3").click(function(){

                $("#naviHeadline").remove();
                $("#naviContentList").remove();
                $("#naviContentSpan").remove();
                 $("#navigationMenu").append("<div id='naviHeadline'>add Groups</div>");
                $("#navigationMenu").append("<ul id='naviContentList'><li>step3</li></ul>");



                });
         });

     //function to get the ID
    function getNumber(number){

        return number.substring(number.lastIndexOf("_")+1);

    }




    // initialize alertbox
    $( "#deleteAlertBox" ).dialog({
        autoOpen: false,
         buttons: {
            "delete": function() {

                $("#row_"+lastID).remove();
                $( this ).dialog( "close" );

            },
            "back": function() {
            $( this ).dialog( "close" );
                }
            }
         });



</script>

{% endblock %}