{% extends "base.html" %}


//TODO scrollable results: http://jqueryui.com/autocomplete/#maxheight ( CSS )



{% block content %}
    <div id="deleteAlertBox">Are you sure to delete this item?</div>

        <div id="tabs">
<ul>
    <li><a href="#tabs-1">step 1</a></li>
    <li><a href="#tabs-2">step 2</a></li>
    <li><a href="#tabs-3">step 3</a></li>
</ul>
<div id="tabs-1">
     <span>Name:</span><br />
        <input type="text"><br /><br />
        <span>Table administrators</span><br />
        <table>
            <tr>
       <td><span>User</span></td>
        <td><span>Groups</span></td>
             </tr>

        <tr>
        <td><textarea name="user_eingabe" id="userAdmin" cols="40" rows="8"></textarea></td>
        <td><textarea name="group_eingabe" id="groupAdmin" cols="40" rows="8"></textarea></td>
        </tr>
        </table>

        <button id="nextButtonPage2">next</button>



</div>
<div id="tabs-2">

    <table id="columnTable">

        <tr><td></td><td>name</td><td>datatype</td></tr>
        <tr id="row_1"><td><button id="deleteButton_1">-</button></td><td><input type="text" id="field_1"></td><td><select id="selectDataType_1"></select></td><td class="enumSelected"></td></tr>
    </table>

    <button id="addColumn">+</button><br />
    <button id="nextButtonPage3">next</button>
</div>
<div id="tabs-3">
    <!--TODO: Berechtigungen hier-->
    <button>create</button>

</div>
</div>









{% endblock %}

{% block javascript %}
<script language="JavaScript" >


// FIRST TAB

        // initialize variable
        columnID = 1;

        // initialize tabs
         $( "#tabs" ).tabs({
                collapsible: false,
                disabled: [1,2]
         });



            // function to switch to second tab
         $("#nextButtonPage2").click(function(){
            $("#tabs").tabs( "option", "disabled", [ 2 ]);
            $("#tabs").tabs("option","active",1);

         });


     var availableTags = [
"Hans",
"Peter",
"Aaron",
"Beatrice",
"Christine",
"Dora",
"Elise",
"Figo",
"Gabor",
"Heinrich Hubel",
"Igor",
"Jamal",
"Kira",
"Lena",
"Manni",
"Nani",
"Olaf",
"Peter Lustig",
"Rita",
"Superman",
"Bud Spencer",
"Mario Balotelli"];

jQuery.getJSON('/api/user/',function(data){

    allUsers = data.users;



});
jQuery.getJSON('/api/group/',function(data){

    allGroups = data.groups;



});


        // functions for auto-complete
        function split( val ) {
            return val.split( /,\s*/ );
        }
        function extractLast( term ) {
            return split( term ).pop();
        }




        //auto complete for users
        $("#userAdmin")

         .bind( "keydown", function( event ) {
            if ( event.keyCode === $.ui.keyCode.TAB &&
            $( this ).data( "ui-autocomplete" ).menu.active ) {
            event.preventDefault();
            }
            })
        .autocomplete({




          source: function( request, response ) {

        response( $.ui.autocomplete.filter(
        allUsers, extractLast( request.term ) ) );
        },
        select: function(event,ui){
        var terms = split( this.value );

            terms.pop();

            terms.push( ui.item.value );

            terms.push( "" );
            this.value = terms.join( ", " );
            return false;

        }



        });

            //auto-complete for groups
 $("#groupAdmin")

         .bind( "keydown", function( event ) {
            if ( event.keyCode === $.ui.keyCode.TAB &&
            $( this ).data( "ui-autocomplete" ).menu.active ) {
            event.preventDefault();
            }
            })
        .autocomplete({




          source: function( request, response ) {

        response( $.ui.autocomplete.filter(
        allGroups, extractLast( request.term ) ) );
        },
        select: function(event,ui){
        var terms = split( this.value );

            terms.pop();

            terms.push( ui.item.value );

            terms.push( "" );
            this.value = terms.join( ", " );
            return false;

        }



        });


// SECOND TAB
    //array for datatypes
    datatypes = ["numeric","text","choice","date","boolean"];
//fill first dropdown menu with datatypes
for (key in datatypes){
    $("#selectDataType_1").append("<option value='"+datatypes[key]+"'>"+datatypes[key]+"</option>");
};

//TODO:ajax alle tabellen fuer dropdown menu

 //create delete function for the first input
        $("#deleteButton_1").click(function(){lastID= getNumber(this.id);$("#deleteAlertBox").dialog("open");});

    // method to add a column
     $("#addColumn").click(function(){

         columnID++;
         $("#columnTable").append("<tr id='row_"+columnID+"'><td><button id='deleteButton_"+columnID+"'>-</button></td><td><input type='text' id='field_"+columnID+"'></td><td><select id='selectDataType_"+columnID+"'></select></td><td class='enumSelected'></td></tr>");
        //TODO:ajax alle tabellen fuer dropdown menu
         //fill dropdown menu with datatypes
        for (key in datatypes){
         $("#selectDataType_"+columnID).append("<option value='"+datatypes[key]+"'>"+datatypes[key]+"</option>");
        };


        // create delete-function for every column
         $("#deleteButton_"+columnID).click(function(){


        lastID = getNumber(this.id);
        $("#deleteAlertBox").dialog( "open" );

    });


     });


    // switch to page 3
       // function to switch to second tab
         $("#nextButtonPage3").click(function(){
            $("#tabs").tabs("enable",2);
            $("#tabs").tabs("option","active",2);

         });

     //function to get the ID
    function getNumber(number){

        return number.substring(number.lastIndexOf("_")+1);

    }

     //minusbutton function



    // initialize alertbox
    $( "#deleteAlertBox" ).dialog({
        autoOpen: false,
         buttons: {
            "delete": function() {

                $("#row_"+lastID).remove();
                $( this ).dialog( "close" );

            },
            "back": function() {
            $( this ).dialog( "close" );
                }
            }
         });



</script>

{% endblock %}