{% extends "base.html" %}

{% block navigation %}
        <div>Gruppen</div>
 <ul id="navigationMenuContent">

			</ul>

{% endblock %}
{% block header %}
        <a class="crumb" href='/groupadmin/' id='groupAdmin'> <span>></span></a>
{% endblock %}
{% block content %}


{% endblock %}

{% block menu %}
<a class='buttonMenuButton' href="/createGroup">create Gruppe</a>

{% endblock %}
{% block javascript %}
<script language="JavaScript">

    init();
    function init(){
	var groups = jQuery.parseJSON( '{"groups":[{"name":"Arzt","dataDescr":["Paul","Snuggles"]},{"name":"Student","dataDescr":["Egon","Walter"]},{"name":"Hiwi","dataDescr":["Inge","Hans"]}]}' ).groups;
    $.getJSON('/api/group/', function (data) {

        allGroups = data.groups;
       for (var key in allGroups) {
		var groupname = allGroups[key].name;

		// fill Navigation-Bar
		$("#navigationMenuContent").append("<li><a href='#'>"+allGroups[key].name+"</a></li>");
		// create group content
		$("#content").append("<a href='#'><div class='overViewDiv' id='group"+key+"'><div id='overViewHeader'>"+groupname+"</div></div></a>");
		for (var users in allGroups[key].dataDescr){
			$("#group"+key).append("<div class='overViewContentDiv'>"+allGroups[key].dataDescr[users]+"</div>");

		}

	}

    });
    $("#groupAdmin").prepend("admin");

}

</script>
{% endblock %}