{% extends "base.html" %}
{% block navigation %}
    <link rel="stylesheet" type="text/css" href="/static/css/admin.css">
    <div>Gruppen</div>
    <ul id="navigationMenuContent">

			</ul>

{% endblock %}
{% block header %}
        <a class="crumb" href='/groupadmin/' id='groupAdmin'> <span>></span></a>
{% endblock %}
{% block content %}


{% endblock %}

{% block menu %}
<a class='buttonMenuButton' href="/createGroup/">create group</a>


{% endblock %}
{% block javascript %}
<script language="JavaScript">

    init();
    function init(){

 $.getJSON('/api/myself/', function (data) {
    if(!data.userManager){
        window.location = '/table/';

    }
 });



	//var groups = jQuery.parseJSON( '{"groups":[{"name":"Arzt","users":["Paul","Snuggles"]},{"name":"Student","dataDescr":["Egon","Walter"]},{"name":"Hiwi","dataDescr":["Inge","Hans"]}]}' ).groups;
    $.getJSON('/api/group/', function (data) {

            if(data.errors!=undefined){
                    showErrors(data.errors)

               }
               if(data.success!=undefined){
                 showSuccess(data.success)

             }

        allGroups = data.groups;
       for (var key in allGroups) {
		var groupname = allGroups[key].name;

		// fill Navigation-Bar
		$("#navigationMenuContent").append("<li><a href='/group/"+allGroups[key].name+"'>"+allGroups[key].name+"</a></li>");
		// create group content
		$("#content").append("<a href='/group/"+allGroups[key].name+"'><div class='overViewDiv' id='group"+key+"'><div id='overViewHeader'>"+groupname+"</div></div></a>");
		for (var users in allGroups[key].users){
			$("#group"+key).append("<div class='overViewContentDiv'>"+allGroups[key].users[users]+"</div>");

		}
        for (var users in allGroups[key].admins){
			$("#group"+key).append("<div class='overViewContentDiv'>"+allGroups[key].admins[users]+"</div>");

		}

	}

    });
    $("#groupAdmin").prepend("groups");

}

</script>
{% endblock %}