{% load i18n %}
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <title>ProsDataBase</title>
    <link rel="shortcut icon" href="/static/img/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/static/css/jqueryui.css"/>
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">
    <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
    <script src="http://code.jquery.com/ui/1.10.2/jquery-ui.js"></script>
    <script src="/static/js/timepicker.js"></script>
    <script>
        $(document).ready(function () {
            $('.btn').button({ disabled: false});
            $("input").keydown(function(e){


            if(e.which == 13){

                login();
            }

        });
        });
        function login() {
            jsonobj = {}
            jsonobj.username = $("#user").val()
            jsonobj.password = $("#pw").val()
            $.ajax({
                url: '/api/auth/session/',
                type: 'put',
                data: JSON.stringify(jsonobj),
                contentType: 'application/json',
                dataType: 'json',

                success: function (data) {
                    if (data.status == "ok")
                        window.location.href = '/table/';
                    else
                        $("#error").css("display", "block")
                }

            });
        }

    </script>
    <style type="text/css">


    </style>

</head>
<body>
<div id="heading">

    <img src="../static/img/prosdata_small.png" height="70px" width="140px"/>
    <hr>

</div>
<div id="LoginPic">
<img src="../static/img/prosdatabase.png" height="165px" width="165px">
    <div id="Slogan">
         RESEARCH 2.0
        </div>
</div>

<div id="loginInfoText">


    <br>
   The ProsDataBase is a web-based research database in the medical range.
    <br>
    Released in 2013


</div>
<div id="loginContent">
    <div id="loginForm">
        <div id="loginDiv">
            <div id="error" style="display:none; color:#FFFFF;background-color: red">{% trans "Error at login" %}</div>
            <table>
                <tr>
                    <td>{% trans "User:" %}</td>
                    <td><input id="user" type="text" style="float: right; width: 200px;"></td>
                </tr>
                <tr>
                    <td>{% trans "Password:" %}</td>
                    <td><input id="pw" type="password" style="float: right; width: 200px;"></td>
                </tr>
            </table>


            <a href="#" onClick="login()"><input class="btn" type="submit" value="Login" style="float:right; top:8px;"></a>

        </div>
    </div>
</div>

</div>

</div>
</body>
</html>