{% extends "base.html" %}
{% load i18n %}

{% block menu %}
<a href="#" id='structLink' class='buttonMenuButton'>{% trans "structure" %}</a>
<a href="#" id='rightsLink' class='buttonMenuButton'>{% trans "rights" %}</a>
{% endblock %}

{% block header %}

<a class="crumb" href='#' id='tableCrumb'> <span>></span></a>
<a class="crumb" href='#' id='modifyCrumb'> <span>></span></a>
{% endblock %}

{% block help %}
<div class='helpTextDiv'><h1>{% trans "Help" %}</h1>
    <!-- todo: translation (paddy)-->
    {% trans "Please specify the table name. Note,that it should be unique in the database. Now specify the table\'s columns, their content types and additional information. <br/>Following content types exist:<br/>Text: accepts any text and numbers. Is optionally restricted by length.<br/>Numeric: accepts floating point numbers, e.g. 23 or 3.14. Is optionally restricted by a minimum and maximum value.<br/>Date: accepts date and time input. Is optionally restricted by a minimum and maximum date.<br/>Yes/No: accepts either yes or no.<br/>Choice: accepts any value from a list of options specified by you. Values can contain any text and numbers.<br/>[a table]: additionally to the above content types you can choose an already existing table. In this column users can select datasets from the specified table to be displayed in this table. They can also dynamically create new datasets for the selected table."%}
</div>
{% endblock %}


{% block content %}
    <!--todo: translation (paddy) -->
<div id="deleteAlertBox">{% trans "Are you sure to delete this item?" %}</div>
<div id="alertTableBox">{% trans "Are you sure to delete this table? All data inside will be lost! Be careful with doing that!" %}
</div>
   <!--todo: translation (paddy) -->
<div id="deleteExistedColumns">{% trans "Are you sure to delete this column? Be careful! Containing data will be lost!" %}</div>



        <button id='deleteTable'>{% trans "delete table" %}</button>
        <br/><br/>
        <span>{% trans "tablename:" %}</span><br/>
        <input type="text" id="tblName"><br/><br/>
        {% trans "select category" %} <select id="category"></select><br/><br/>
        <table id="columnTable">

            <tr>
                <td></td>
                <td>{% trans "column" %}</td>
                <td>{% trans "comment" %}</td>
                <td>{% trans "content type" %}</td>
            </tr>

        </table>

        <button id="addColumn">+</button>
        <br/><br/>
        <button id='createTableButtonPage1'>{% trans "save" %}</button>



{% endblock %}

{% block javascript %}
<script language="JavaScript">

init();

function changeTo(number) {

    $("#tabs").tabs("option", "active", number);

}
// FIRST TAB
//switch navi-content function
function init() {
    firstload = true;
    tableName = getTableName();
    $("#tableCrumb").prepend(decodeURIComponent(tableName));
    $("#structLink").attr('href', '/modify/' + tableName + '/');
    $("#rightsLink").attr('href', '/modifyRights/' + tableName + '/');
    $("#modifyCrumb").prepend("{% trans "Modify" %}");
    $("#tableCrumb").attr('href', '/detailview/' + tableName + '/');
    $("#modifyCrumb").attr('href', '/modify/' + tableName + '/');
    $("#tblName").val(decodeURIComponent(tableName));

    $.ajaxSetup({
        async: false

    });


    valid = true;
    // initialize variable
    columnID = 0;
    countChoiceInputs = 0;
    rightColumnID = 1;
    takenUserGroups = [];
    allColumnChoiceInputs = [];
    allUserGroups = [];
    columnNames = [];
    allGroupNames = [];
    tables = [];
    datatypes = [];
    countCheckboxes = 0;
    datatypes[0] = "text";
    datatypes[1] = "number";
    datatypes[2] = "date";
    datatypes[3] = "selection";
    datatypes[4] = "yes or no";

    // initialize tabs
    $("#tabs").tabs({
        collapsible: false,
        disabled: 1,
        beforeActivate: function (event, ui) {


            if (!valid && ui.newPanel.attr('id') != 'tabs-2') {

                return false;
            }

                if (ui.newPanel.attr('id') == 'tabs-1') {
                    if (!firstload) {
                        createAllExistedColumnFirst();
                        sendJsonObjPage2();

                }

                }
                if (ui.newPanel.attr('id') == 'tabs-2') {
                    sendJsonObjPage1();
                    $(".rightsTable").remove();
                    createExistedUsers();

                }


        },
        activate: function (event, ui) {
            if (ui.newPanel.attr('id') == 'tabs-1') {

                $("#tab_header_1").removeClass("headerTabIanctive");
                $("#tab_header_2").addClass("headerTabIanctive")
                $("#naviContentList").remove();
                $("#naviHeadline").remove();
                $("#naviContentSpan").remove();
                $(".helpTextDiv").empty();
                //todo: translation (paddy)
                $(".helpTextDiv").html('<h1>Help</h1>Please specify the table name. Note, that it should be unique in the database. Now specify the table\'s columns, their content types and additional information. <br />Following content types exist:<br />Text: accepts any text and numbers. Is optionally restricted by length.<br />Numeric: accepts floating point numbers, e.g. 23 or 3.14. Is optionally restricted by a minimum and maximum value.<br />Date: accepts date and time input. Is optionally restricted by a minimum and maximum date.<br />Yes/No: accepts either yes or no.<br />Choice: accepts any value from a list of options specified by you. Values can contain any text and numbers.<br />[a table]: additionally to the above content types you can choose an already existing table. In this column users can select datasets from the specified table to be displayed in this table. They can also dynamically create new datasets for the selected table.');


            }
            else if (ui.newPanel.attr('id') == 'tabs-2') {

                $("#tab_header_1").addClass("headerTabIanctive")
                $("#tab_header_2").removeClass("headerTabDeactive")
                $("#naviHeadline").remove();
                $("#naviContentSpan").remove();
                $("#naviContentList").remove();
                $(".helpTextDiv").empty();
                //todo: translation (paddy)
                $(".helpTextDiv").html('<h1>Help</h1>Finally, assign read, insert, modify and delete rights to users and groups:Search for users or groups in the input field and toggle their rights for each column.The "All"-section allows fast rights assignment for all columns.');


            }

            removeEmptyColumns();
        }
    });


    $.getJSON('/api/user/', function (data) {

        allUsers = data.users;

        for (key in allUsers) {
            allUserGroups.push(allUsers[key]);
        }


    });
    $.getJSON('/api/group/', function (data) {

        allGroups = data.groups;
        for (key in allGroups) {

            allGroupNames.push(allGroups[key].name);
            allUserGroups.push(allGroups[key].name);
        }

    });


    jQuery.getJSON('/api/table/', function (data) {

        tables = data.tables;

    });
    jQuery.getJSON('/api/category/', function (data) {

        var cat = data.categories;
        for (var key in cat) {
            $("#category").append("<option>" + cat[key] + "</option>");
        }

    });
    // initialize alertbox
    $("#deleteAlertBox").dialog({
        autoOpen: false,
        buttons: {
             "{% trans "delete" %}": function () {
                $("#row_" + lastID).remove();
                $(this).dialog("close");
            },
            "{% trans "back" %}": function () {
                $(this).dialog("close");
            }
        }
    });


    // initialize alertbox
    $("#deleteExistedColumns").dialog({
        autoOpen: false,
        buttons: {
            "{% trans "delete" %}": function () {
                $.ajax({
                    url: '/api/table/' + getTableName() + '/column/' + $("#row_" + lastID).find(".columnNameClass").val() + '/',
                    type: 'delete',
                    success: $("#row_" + lastID).remove()
                });
                $(this).dialog("close");
            },
            "{% trans "back" %}": function () {
                $(this).dialog("close");
            }
        }
    });
    // initialize alertbox
    $("#alertTableBox").dialog({
        autoOpen: false,
        buttons: {
             "{% trans "delete" %}": function () {
                $.ajax({
                    url: '/api/table/' + getTableName() + '/',
                    type: 'delete',
                    success: function (data) {
                        window.location.href = '/table/';

                    }

                });
                $(this).dialog("close");
            },
            "{% trans "back" %}": function () {
                $(this).dialog("close");
            }
        }
    });
    //initialize auto-complete input field to add users / groups to rightlists


    $("#inputUserGroup")
            .autocomplete({
                source: function (request, response) {
                    response($.ui.autocomplete.filter(
                            allUserGroups, extractLast(request.term)));
                }
            });


    $.ajaxSetup({
        async: true

    });
    createAllExistedColumnFirst();
    firstload = false;

}


function createAllExistedColumn(data){
        if(data.errors!=undefined){
            showErrors(data.errors)
            return
        }
        if(data.success!=undefined){
                showSuccess(data.success)
                tableName=$("#tblName").val()
       }

        $(".trcolumnClass").each(function () {
            $(this).remove();
        });

       var category = data.category;
        $("#category option").each(function () {
            if(this.text == category){
                this.selected=true;
            }
        });


        var columns = data.columns;


        for (var key in columns) {
            if (columns[key].type != 6) {
                createExistedColumnsRow(columns[key].id);
                $("#field_" + columnID).val(columns[key].name);
                $("#row_" + columnID).find(".comment").val(columns[key].comment);
                if (columns[key].type == 0) {
                    $("#selectDataType_" + columnID).val(0);
                    $("#row_" + columnID).append("<td id='selectDataTypeCell_" + columnID + "'>{% trans "length" %}:<input type='text' size='5' class='length' value='100'>");
                    $("#row_" + columnID).find(".length").val(columns[key].length);


                }
                else if (columns[key].type == 1) {
                    $("#selectDataType_" + columnID).val(1);
                    $("#row_" + columnID).append("<td id='selectDataTypeCell_" + columnID + "'>min:<input type='text' value='0.0' class='min' size='7'>max:<input type='text' value='100.0' class='max' size='7'></td>");
                    $("#row_" + columnID).find(".min").val(columns[key].min);
                    $("#row_" + columnID).find(".max").val(columns[key].max);


                }
                else if (columns[key].type == 2) {
                    $("#selectDataType_" + columnID).val(2);
                }
                else if (columns[key].type == 3) {
                    $("#selectDataType_" + columnID).val(3);
                    $("#row_" + columnID).append("<td id='selectDataTypeCell_" + columnID + "'><span id='choiceInputContent_" + columnID + "'></span></td>");
                    for (var i in columns[key].options) {

                        countChoiceInputs++;
                        $("#choiceInputContent_" + columnID).append("<input size='7' type='text' selectionid='" + columns[key].options[i].key + "' class='option' id='choiceInput_" + countChoiceInputs + "'>");
                        $("#choiceInput_" + countChoiceInputs).val(columns[key].options[i].value);
                        // to delete the input fields with escape and delete
                        $("#choiceInput_" + countChoiceInputs).keyup(function (e) {
                            if (e.keyCode == 46 || e.keyCode == 27) {
                                $(this).remove();
                            }
                        })
                    }
                    $("#selectDataTypeCell_" + columnID).append("<button id='addChoiceButton_" + columnID + "'>+</button>");

                    $("#addChoiceButton_" + columnID).click(function () {

                        lastID = getNumber(this.id);
                        countChoiceInputs++;
                        $("#choiceInputContent_" + lastID).append("<input size='7' type='text' class='option' id='choiceInput_" + countChoiceInputs + "'>");
                        lastID = getNumber(this.id);
                        // to delete the input fields with escape and delete
                        $("#choiceInput_" + countChoiceInputs).keyup(function (e) {
                            if (e.keyCode == 46 || e.keyCode == 27) {
                                $(this).remove();
                            }
                        })
                    });
                }
                else if (columns[key].type == 4) {
                    $("#selectDataType_" + columnID).val(4);
                }
                else if (columns[key].type == 5) {
                    var tbl = columns[key].table;
                    $("#selectDataType_" + columnID + " option").each(function () {
                        if(this.text == tbl){
                            this.selected=true;
                        }
                    });
                }

            }
        }


}


function createAllExistedColumnFirst() {
    $.getJSON('/api/table/' + tableName + '/structure/', function (data) {
      if(!data.admin){

          if (!data.rightsAdmin) {
            window.location = "/table/";
        }
      }
      createAllExistedColumn(data)




    });

}


function removeEmptyColumns() {

    $(".columnNameClass").each(function () {
        var row = $(this).parent();
        row = row.parent();

        if ($(this).val() == '') {
            row.remove();
        }


    });


}

// functions for auto-complete
function split(val) {
    return val.split(/,\s*/);
}
function extractLast(term) {
    return split(term).pop();
}


function getAllColumnNames() {
    var allColumnNames = [];
    $(".columnNameClass").each(function () {
        allColumnNames.push($(this).val());
    });
    return allColumnNames;

}
function createExistedColumnsRow(columnid) {
    columnID++;
    $("#columnTable").append("<tr class='trcolumnClass' id='row_" + columnID + "'><td><button id='deleteButton_" + columnID + "'>-</button></td><td><input type='text' columnid='" + columnid + "' class='columnNameClass' id='field_" + columnID + "'></td><td><input type='text' class='comment'></td><td><select class='dataType' id='selectDataType_" + columnID + "'></select></td></tr>");

    $("#field_" + columnID).change(function () {
        valid = true;
        var columns = getAllColumnNames();

        $(".columnNameClass").each(function () {


            if (columns.lastIndexOf($(this).val()) != columns.indexOf($(this).val())) {

                $(this).css('background-color', 'rgb(255, 0, 0)');
                valid = false;
            }
            else {
                $(this).css('background-color', 'rgb(255, 255, 255)');

            }
        });
    });


    //fill dropdown menu with datatypes
    for (var key in datatypes) {
        $("#selectDataType_" + columnID).append("<option value='" + key + "'>" + datatypes[key] + "</option>");
    }

    var tables = getTables();
    for (var key in tables) {
        $("#selectDataType_" + columnID).append("<option value='5'>" + tables[key] + "</option>");
    }


    // create delete-function for every column
    $("#deleteButton_" + columnID).click(function () {


        lastID = getNumber(this.id);
        $("#deleteExistedColumns").dialog("open");

    });
    //append different inputs for datatypes for every row

    //min and max input for numeric datatype


    $("#selectDataType_" + columnID).attr('disabled', true);

}


function createNewColumnsRow() {
    columnID++;
    $("#columnTable").append("<tr class='trcolumnClass' id='row_" + columnID + "'><td><button id='deleteButton_" + columnID + "'>-</button></td><td><input type='text' class='columnNameClass' id='field_" + columnID + "'></td><td><input type='text' class='comment'></td><td><select class='dataType' id='selectDataType_" + columnID + "'></select></td><td id='selectDataTypeCell_" + columnID + "'>{% trans "length" %}:<input type='text' class='length' value='100'></td></tr>");

    $("#field_" + columnID).change(function () {
        valid = true;
        var columns = getAllColumnNames();

        $(".columnNameClass").each(function () {


            if (columns.lastIndexOf($(this).val()) != columns.indexOf($(this).val())) {

                $(this).css('background-color', 'rgb(255, 0, 0)');
                valid = false;
            }
            else {
                $(this).css('background-color', 'rgb(255, 255, 255)');

            }
        });
    });


    //fill dropdown menu with datatypes
    for (var key in datatypes) {
        $("#selectDataType_" + columnID).append("<option value='" + key + "'>" + datatypes[key] + "</option>");
    }

    var tables = getTables();
    for (var key in tables) {
        $("#selectDataType_" + columnID).append("<option value='5'>" + tables[key] + "</option>");
    }


    // create delete-function for every column
    $("#deleteButton_" + columnID).click(function () {


        lastID = getNumber(this.id);
        $("#deleteAlertBox").dialog("open");
    });
    //append different inputs for datatypes for every row

    //min and max input for numeric datatype


    $("#selectDataType_" + columnID).change(function () {
        lastID = getNumber(this.id);

        $("#selectDataTypeCell_" + lastID).remove();
        if ($("#selectDataType_" + lastID).val() == "1") {
            $("#selectDataTypeCell_" + lastID).remove();
            $("#row_" + lastID).append("<td id='selectDataTypeCell_" + lastID + "'>min:<input type='text' value='0.0' class='min' size='7'>max:<input type='text' value='100.0' class='max' size='7'></td>");

        }
        //size for text datatype
        if ($("#selectDataType_" + lastID).val() == "0") {
            $("#selectDataTypeCell_" + lastID).remove();
            $("#row_" + lastID).append("<td id='selectDataTypeCell_" + lastID + "'>{% trans "length" %}:<input type='text' size='5' class='length' value='100'></td>");
        }
        if ($("#selectDataType_" + lastID).val() == "4") {
            $("#selectDataTypeCell_" + lastID).remove();
        }
        if ($("#selectDataType_" + lastID).val() == "2") {
            $("#selectDataTypeCell_" + lastID).remove();
        }
        if ($("#selectDataType_" + lastID).val() == "5") {
            $("#selectDataTypeCell_" + lastID).remove();
            var tableName = $("#selectDataType_" + lastID).find(":selected").text();
            $.getJSON('/api/table/' + tableName + '/structure/', function (data) {
                var input = "";
                input += "<td id='selectDataTypeCell_" + lastID + "'>{% trans "select value" %}: <select>";
                input += "<option>{% trans "all" %}</option>"
                allColumns = data.columns;
                for (var key in allColumns) {
                    input += "<option>";
                    input += allColumns[key].name;
                    input += "</option>";
                }
                input += "</select></td>";

                $("#row_" + lastID).append(input);
            });

        }

        if ($("#selectDataType_" + lastID).val() == "3") {


            $("#selectDataTypeCell_" + lastID).remove();
            $("#row_" + lastID).append("<td id='selectDataTypeCell_" + lastID + "'><span id='choiceInputContent_" + lastID + "'></span><button id='addChoiceButton_" + lastID + "'>+</button></td>");


            // click event for button to add new choice inputs
            $("#addChoiceButton_" + lastID).click(function () {

                lastID = getNumber(this.id);
                countChoiceInputs++;
                $("#choiceInputContent_" + lastID).append("<input size='7' type='text' class='option' id='choiceInput_" + countChoiceInputs + "'>");
                lastID = getNumber(this.id);
                // to delete the input fields with escape and delete
                $("#choiceInput_" + countChoiceInputs).keyup(function (e) {
                    if (e.keyCode == 46 || e.keyCode == 27) {
                        $(this).remove();
                    }
                })
            });
        }
    });

}
// function to get all table names
function getTables() {
    var temp = [];
    for (var key in tables) {

        var tablename = tables[key].name;

        temp.push(tablename);
    }
    return temp;
}
// click event for the add column button
$("#addColumn").click(function () {
    createNewColumnsRow();

});
//function to get the ID
function getNumber(number) {

    return number.substring(number.lastIndexOf("_") + 1);

}
// function to check if an element is in an array
jQuery.isInArray = function (value, array) {
    return -1 != jQuery.inArray(value, array);
}

$("#addUserToRights").click(function () {

    var inputValue = $("#inputUserGroup").val()

    //check that the input is really correct
    if (inputValue != '' && !($.isInArray(inputValue, takenUserGroups)) && ($.isInArray(inputValue, allUserGroups))) {

        takenUserGroups.push(inputValue);

        // BETA Bereich: Nur zum zeigen

        var userName = $("#inputUserGroup").val();

        //create rights-table
        $("#allUserRights").append("<table border='1' class='rightsTable' id='" + userName + "'><tr id='descriptionRow_" + rightColumnID + "'></tr><tr id='iconsRow_" + userName + "'></tr></table>");
        var inputsToappend = "";
        $("#descriptionRow_" + rightColumnID).append("<td>all</td>");
        countCheckboxes++;
        inputsToappend += "<td class='all forever' nowrap='true'><input type='checkbox' class='rightsAdmin' id='check" + countCheckboxes + "' /><label title='{% trans "modify table" %}' for='check" + countCheckboxes + "'><img class='icn' src='/static/img/key-icon.png'></label>";
        countCheckboxes++;
        inputsToappend += "<input type='checkbox' class='insert' id='check" + countCheckboxes + "' /><label title='{% trans "insert data" %}' for='check" + countCheckboxes + "'><img class='icn' src='/static/img/pencil-icon.png'></label>";
        countCheckboxes++;
        inputsToappend += "<input type='checkbox' class='delete' id='check" + countCheckboxes + "' /><label title='{% trans "delete data" %}' for='check" + countCheckboxes + "'><img class='icn' src='/static/img/trash-icon.png'></label>";
        countCheckboxes++;
        inputsToappend += "<input type='checkbox' class='viewLog' id='check" + countCheckboxes + "' /><label title='{% trans "view log" %}' for='check" + countCheckboxes + "'><img class='icn' src='/static/img/paper-icon.png'></label>";
        countCheckboxes++;
        inputsToappend += "<input onClick='toggleAll(this,\"read\")'" + " type='checkbox' id='check" + countCheckboxes + "'  /><label title='{% trans "read all data" %}' for='check" + countCheckboxes + "'><img class='icn' src='/static/img/view-icon.png'></label>";
        countCheckboxes++;
        inputsToappend += "<input  onClick='toggleAll(this,\"modify\")'" + " type='checkbox' id='check" + countCheckboxes + "' /><label title='{% trans "modify all data" %}' for='check" + countCheckboxes + "'><img class='icn' src='/static/img/setting-icon.png'></label></td>";
        $("#iconsRow_" + userName).append(inputsToappend);
        countCheckboxes++;
        var columnNames = getAllColumnNames();
        for (var i in columnNames) {
            var ClassColumnName = encode_pros(columnNames[i]);
            var stringToappend = "";
            $("#descriptionRow_" + rightColumnID).append("<td>" + columnNames[i] + "</td>");
            countCheckboxes++;
            stringToappend += "<td nowrap='true' class='forever " + ClassColumnName + "'><input type='checkbox' class='read' id='check" + countCheckboxes + "' /><label title='{% trans "read" %}' for='check" + countCheckboxes + "'><img class='icn' src='/static/img/view-icon.png'></label>";
            countCheckboxes++;
            stringToappend += "<input type='checkbox' class='modify' id='check" + countCheckboxes + "' /><label title='{% trans "modify" %}' for='check" + countCheckboxes + "'><img class='icn' src='/static/img/setting-icon.png'></label></td>";
            $("#iconsRow_" + userName).append(stringToappend);
            countCheckboxes++;
        }
        $("#" + userName).prepend("<th>" + userName + "</th>");

        rightColumnID++;
    }
    $("input:checkbox").button();
    $("#inputUserGroup").val("");
});


function createExistedUsers() {

    $.getJSON('/api/table/' + tableName + '/rights/', function (data) {

        var actors = data.actors;
        for (var i in actors) {
            var userName = actors[i].name;
            takenUserGroups.push(actors[i].name);
            //create rights-table
            $("#allUserRights").append("<table border='1' class='rightsTable' id='" + userName + "'><tr id='descriptionRow_" + rightColumnID + "'></tr><tr id='iconsRow_" + userName + "'></tr></table>");
            var inputsToappend = "";
            $("#descriptionRow_" + rightColumnID).append("<td>all</td>");
            countCheckboxes++;

            if (actors[i].tableRights.rightsAdmin) {
                inputsToappend += "<td class='forever all' nowrap='true'><input type='checkbox' checked='checked' class='rightsAdmin' id='check" + countCheckboxes + "' /><label title='{% trans "modify table" %}' for='check" + countCheckboxes + "'><img class='icn' src='/static/img/key-icon.png'></label>";
            }
            else {
                inputsToappend += "<td class='forever all' nowrap='true'><input type='checkbox' class='rightsAdmin' id='check" + countCheckboxes + "' /><label title='{% trans "modify table" %}' for='check" + countCheckboxes + "'><img class='icn' src='/static/img/key-icon.png'></label>";
            }
            countCheckboxes++;
            if (actors[i].tableRights.insert) {

                inputsToappend += "<input type='checkbox' checked='checked' class='insert' id='check" + countCheckboxes + "' /><label title='{% trans "insert data" %}' for='check" + countCheckboxes + "'><img class='icn' src='/static/img/pencil-icon.png'></label>";
            }
            else {
                inputsToappend += "<input type='checkbox' class='insert' id='check" + countCheckboxes + "' /><label title='{% trans "insert data" %}' for='check" + countCheckboxes + "'><img class='icn' src='/static/img/pencil-icon.png'></label>";

            }
            countCheckboxes++;
            if (actors[i].tableRights.delete) {
                inputsToappend += "<input type='checkbox' checked='checked' class='delete' id='check" + countCheckboxes + "' /><label  title='{% trans "delete data" %}' for='check" + countCheckboxes + "'><img class='icn' src='/static/img/trash-icon.png'></label>";

            }
            else {
                inputsToappend += "<input type='checkbox' class='delete' id='check" + countCheckboxes + "' /><label  title='{% trans "delete data" %}' for='check" + countCheckboxes + "'><img class='icn' src='/static/img/trash-icon.png'></label>";

            }

            countCheckboxes++;
            if (actors[i].tableRights.viewLog) {
                inputsToappend += "<input type='checkbox' checked='checked' class='viewLog' id='check" + countCheckboxes + "' /><label title='{% trans "view log" %}' for='check" + countCheckboxes + "'><img class='icn' src='/static/img/paper-icon.png'></label>";
            }
            else {

                inputsToappend += "<input type='checkbox' class='viewLog' id='check" + countCheckboxes + "' /><label title='{% trans "view log" %}' for='check" + countCheckboxes + "'><img class='icn' src='/static/img/paper-icon.png'></label>";
            }

            countCheckboxes++;
            inputsToappend += "<input onClick='toggleAll(this,\"read\")'" + " type='checkbox' id='check" + countCheckboxes + "'  /><label title='{% trans "read all data" %}' for='check" + countCheckboxes + "'><img class='icn' src='/static/img/view-icon.png'></label>";
            countCheckboxes++;
            inputsToappend += "<input  onClick='toggleAll(this,\"modify\")'" + " type='checkbox' id='check" + countCheckboxes + "' /><label title='{% trans "modify all data" %}' for='check" + countCheckboxes + "'><img class='icn' src='/static/img/setting-icon.png'></label></td>";
            $("#iconsRow_" + userName).append(inputsToappend);
            countCheckboxes++;
            var columnNames = getAllColumnNames();


            for (var p in columnNames) {
                var classColumnName = encode_pros(columnNames[p]);
                var stringToappend = "";
                $("#descriptionRow_" + rightColumnID).append("<td>" + columnNames[p] + "</td>");
                countCheckboxes++;
                if (classColumnName == actors[i].columnRights[p].name) {

                    if (actors[i].columnRights[p].rights.read) {
                        stringToappend += "<td nowrap='true'  class='forever " + classColumnName + "'><input type='checkbox' checked='checked' class='read' id='check" + countCheckboxes + "' /><label title='{% trans "read" %}' for='check" + countCheckboxes + "'><img class='icn' src='/static/img/view-icon.png'></label>";
                    }
                    else {
                        stringToappend += "<td nowrap='true' class='forever " + classColumnName + "'><input type='checkbox' class='read' id='check" + countCheckboxes + "' /><label title='{% trans "read" %}' for='check" + countCheckboxes + "'><img class='icn' src='/static/img/view-icon.png'></label>";
                    }
                    countCheckboxes++;
                    if (actors[i].columnRights[p].rights.modify) {

                        stringToappend += "<input type='checkbox' checked='checked' class='modify' id='check" + countCheckboxes + "' /><label title='{% trans "modify" %}' for='check" + countCheckboxes + "'><img class='icn' src='/static/img/setting-icon.png'></label></td>";
                    }
                    else {
                        stringToappend += "<input type='checkbox' class='modify' id='check" + countCheckboxes + "' /><label title='{% trans "modify" %}' for='check" + countCheckboxes + "'><img class='icn' src='/static/img/setting-icon.png'></label></td>";

                    }
                    $("#iconsRow_" + userName).append(stringToappend);
                    countCheckboxes++;
                }

            }


            $("#" + userName).prepend("<th>" + userName + "</th>");

            rightColumnID++;

            $("input:checkbox").button();
            $("#inputUserGroup").val("");


        }

    });

}

function toggleAll(element, type) {
    var row = $(element).parent();
    row = row.parent();
    var temp = [];
    if (type == 'read') {
        temp = row.find(".read");
    }
    else if (type == 'modify') {
        temp = row.find(".modify");
    }
    $(temp).each(function () {
                this.checked = element.checked;
                $(this).button("refresh")
                //$(this).button("option","label").css('background-color', 'rgb(255, 0, 0)');
            }
    );
}


$("#createTableButtonPage1").click(function () {

   sendJsonObjPage1();


});
$("#createTableButtonPage2").click(function () {
   sendJsonObjPage2();

});

$("#deleteTable").click(function () {

    $("#alertTableBox").dialog("open");

});
function sendJsonObjPage1(){

//object to send
    var jsonTbl = {};
    //fill json object with name of the table
    jsonTbl.name = $("#tblName").val();

        jsonTbl.id = $(this).attr('columnid');

    jsonTbl.category = $("#category").find(":selected").text();
    //fill it with all columns
    jsonTbl.columns = [];
    $(".columnNameClass").each(function () {
        var columnNames = $(this).val();

        columnObj = {};
        columnObj.name = columnNames;
        if ($(this).attr('columnid') != 'undefinded') {
        columnObj.id = $(this).attr('columnid');
        }
        var row = $(this).parent();
        row = row.parent();
         columnObj.comment = row.find(".comment").val();
        var thisDataType = parseInt($(row.find(".dataType")[0]).val());

        columnObj.type = thisDataType;
        if (thisDataType == 0) {
            columnObj.length = parseInt($(row.find(".length")[0]).val());

        }
        else if (thisDataType == 1) {
            columnObj.min = parseInt($(row.find(".min")[0]).val());
            columnObj.max = parseInt($(row.find(".max")[0]).val());
        }
        else if (thisDataType == 2) {
        }
        else if (thisDataType == 3) {
            columnObj.options = [];

            $(row.find(".option")).each(function () {

                var inputObj = {};
                if($(this).attr('selectionid')){
                    inputObj.key = $(this).attr('selectionid');
                }

                inputObj.value = $(this).val();
                columnObj.options.push(inputObj);

            });

        }
        else if (thisDataType == 4) {

        }
        else {
            columnObj.table = $(row.find(".dataType")).find(":selected").text();
        }
        console.log(columnObj);
        jsonTbl.columns.push(columnObj);
    });
    console.log(jsonTbl);
    //fill it with rights for the whole table

    $.ajax({
        url: '/api/table/' + getTableName() + '/',
        type: 'put',
        data: JSON.stringify(jsonTbl),
        contentType: 'application/json',
        dataType: 'json',
        success: function(data){ createAllExistedColumn }
    });

    console.log(jsonTbl);
    //window.location.href = '/table/';
}

function getTableName() {
    var tableName = window.location.href;
    var lastIndex = tableName.lastIndexOf('/');
    var tableName = tableName.substr(0, lastIndex);
    var lastIndex = tableName.lastIndexOf('/');
    var tableName = tableName.substr(lastIndex + 1);
    return tableName;
}
</script>

{% endblock %}

{% block css %}
.forever .ui-state-active{
    background: greenyellow;
}
{% endblock %}