{% extends "base.html" %}
{% load i18n %}

{% block cssHeader %}
          <link rel="stylesheet" type="text/css" href="/static/css/admin.css">

{% endblock %}



  {% block css %}



        #RegisterBtnCell {
            text-align: right;

        }

    {% endblock %}
{% block header %}
        <a class="crumb" href='/useradmin/' id='userCrumb'> <span>></span></a>
        <a class="crumb" href='/register/' id='registerCrumb'> <span>></span></a>
{% endblock %}
{% block content %}

<div>
    <div id="registerDiv">
<div id="errorblock"></div>
        <table>

            <tr>
                <td><span>{%trans "Username:" %}</span></td>
                <td><input id='username' type="text"></td>
            </tr>
            <tr>
                <td><span>{%trans "Password:" %}</span></td>
                <td><input id='password' type="password"></td>
            </tr>
            <tr>
                <td><span>{%trans "Confirm Password:" %}</span></td>
                <td><input id='passwordAgain' type="password"></td>
            </tr>
            <tr>
                <td colspan="2" id="RegisterBtnCell">
                    <button class='btn' id='registerBtn'>{%trans "Save User" %}</button>
                <td>
            </tr>
        </table>

    </div>

</div>


{% endblock %}
    {% block javascript %}
<script>

    $(document).ready(function () {
        $('.btn').button({ disabled: false});
    });

    $("#userCrumb").prepend("{% trans "admin users"%}");
    $("#registerCrumb").prepend("{% trans "register"%}");
    $("#registerBtn").click(function () {

        if (allowPassword($("#password").val(), $("#passwordAgain").val())) {

            var user = {};
            user.password = $("#password").val();
            user.username = $("#username").val();

            $.ajax({
                url: '/api/auth/session/',
                type: 'post',
                data: JSON.stringify(user),
                contentType: 'application/json',
                dataType: 'json',
                success: function(data){
            if(data.errors!=undefined){
                    showErrors(data.errors)
                        return
               }
               if(data.success!=undefined){
                 showSuccess(data.success)
                     window.location.href = '/useradmin/';
             }
            }
            });
        }


    });


    function allowPassword(val1, val2) {
        if (val1 == val2) {
            return true;
        }
        else {
            return false;
        }

    }
</script>
{% endblock %}