{% extends "base.html" %}
{% load i18n %}
{% block navigation %}
        <div>{% trans "Users" %}</div>
 <ul id="navigationMenuContent">

			</ul>

{% endblock %}
{% block header %}
        <a class="crumb" href='/settings/' id='settingsCrumb'> <span>></span></a>


{% endblock %}
{% block content %}
<table id='userSettings'>
    <tr><td>{% trans "old Password:" %}</td><td><input id='oldPw' type='password'></td></tr>
    <tr><td>{% trans "new Password:" %}</td><td><input id='newPw' type='password'></td></tr>
    <tr><td>{% trans "new Password again:" %}</td><td><input id='confirmNewPw' type='password'></td></tr>

</table>
<button id='saveSettingsButton'>{% trans "save" %}</button>

{% endblock %}

{% block menu %}

{% endblock %}
{% block javascript %}
<script language="JavaScript">

    $("#settingsCrumb").prepend("settings");

$("#saveSettingsButton").click(function(){
    if(allowPassword($("#newPw").val(),$("#confirmNewPw").val())){
       var oldpw = {};
        oldpw.password = $("#oldPw").val();
        $.ajax({
        url: '/api/myself/password/',
        type: 'post',
        data: JSON.stringify(oldpw),
        contentType: 'application/json',
        dataType: 'json',
           success: function (data) {
                    if(data.valid){
                          var newpw = {};
                          newpw.password = $("#confirmNewPw").val();
                          $.ajax({
                            url: '/api/myself/password/',
                            type: 'put',
                            data: JSON.stringify(newpw),
                            contentType: 'application/json',
                            dataType: 'json',
                              success: alert("password successfully changed!")

                            });
                    }
                    else
                   alert("password wrong!");
                }
        });
    }
    else{

        alert("repeat your new password!");
    }

});



</script>
{% endblock %}