{% extends "base.html" %}
{% load i18n %}

{% block header %}
        <a class="crumb" href='/settings/' id='settingsCrumb'> <span>></span></a>


{% endblock %}
{% block content %}
<table id='userSettings'>
    <tr><td>{% trans "old Password:" %}</td><td><input id='oldPw' type='password'></td></tr>
    <tr><td>{% trans "new Password:" %}</td><td><input id='newPw' type='password'></td></tr>
    <tr><td>{% trans "new Password again:" %}</td><td><input id='confirmNewPw' type='password'></td></tr>

</table>
<button id='saveSettingsButton'>{% trans "save" %}</button>

{% endblock %}

{% block menu %}

{% endblock %}
{% block javascript %}
<script language="JavaScript">

    $("#settingsCrumb").prepend("{% trans "settings" %}");

$("#saveSettingsButton").click(function(){
    if(allowPassword($("#newPw").val(),$("#confirmNewPw").val())){
       var oldpw = {};
        oldpw.password = $("#oldPw").val();
        $.ajax({
        url: '/api/myself/password/',
        type: 'post',
        data: JSON.stringify(oldpw),
        contentType: 'application/json',
        dataType: 'json',
           success: function (data) {
                      if(data.errors!=undefined){
                    showErrors(data.errors)
                        return
               }
               if(data.success!=undefined){
                 showSuccess(data.success)

             }


                    }


        });
    }
    else{

        alert("repeat your new password!");
    }

});



</script>
{% endblock %}