{% extends "base.html" %}
{% load i18n %}


{% block navigation %}
    <div id="naviheader"></div>
    <ul id="navigationMenuContent">

    </ul>

{% endblock %}

{% block header %}
    <a class="crumb" href='#' id='tableCrumb'> <span>></span></a>
{% endblock %}
{% block menu %}
    <a class='buttonMenuButton' id='insertData' href='#'>{% trans "Insert" %}</a>
    <a class='buttonMenuButton' id='deleteData' href='#'>Delete</a>
    <a class='buttonMenuButton'>Export</a>
    <a class='buttonMenuButton' id='modifyStructure'>Modify Structure</a>
{% endblock %}

{% block content %}
    <div id="filter">
  <h3>filter</h3><div>
  <div id="filterView">
<button onClick="addFilter('#filterView',global.table)" >+</button><button onclick="laodFiltered()">Filter</button>
  </div>
</div>
    </div>
    <div id="deleteAlertBox">Are you sure to delete this item(s)?</div>
    <div id="headTable"></div>

{% endblock %}
{% block javascript %}
    <script language="JavaScript">


        init();

        function addFilter(view,tableName){
            filter++;
            $(view).append("<div class='filter'></div>")
            addFilterOption($(view).children().last(), tableName)
        }

        function updateFilerOption(select,tableName){
             console.log($(select).find(":selected").attr("value"))

            if($(select).find(":selected").val()>=5){
               console.log("hallo")
                addFilterOption($(select).next(), $(select).find(":selected").attr("table"))

            }
            if($(select).find(":selected").val()==-1){
                 $(select).next().html("");
            }
            if($(select).find(":selected").val()==0 || $(select).find(":selected").attr("refType")==0){
               $(select).next().html("<input type='text' class='text' placeholder='text...'>")
            }
            if($(select).find(":selected").val()==1|| $(select).find(":selected").attr("refType")==1){
               $(select).next().html("Min:<input type='text' class='min'  placeholder='0.0' onkeyup='this.value=this.value.replace(/[^\\d.]/,\"\")' size='4'>Max:<input  placeholder='0.0' onkeyup='this.value=this.value.replace(/[^\\d.]/,\"\")' class='max' type='text' size='4'>")

            }
            if($(select).find(":selected").val()==3 || $(select).find(":selected").attr("refType")==3){
               $(select).next().html("<select></select>")
                sel=$(select).next().find("select")
                opt=JSON.parse($(select).find(":selected").attr("options"))
                $(opt).each(function(){
                    sel.append("<option>"+this.value+"</option>")
                })

            }
            if($(select).find(":selected").val()==4 || $(select).find(":selected").attr("refType")==4){
               $(select).next().html("<input type='checkbox'>")
            }
            if($(select).find(":selected").val()==2|| $(select).find(":selected").attr("refType")==2){
               $(select).next().html("Min:<input type='text' class='min' placeholder='1990-05-26 23:42'>Max:<input class='max' type='text' placeholder='1990-05-26 23:42'>")

            }
          }

        function addFilterOption(view, tableName){
            $(view).html("")
            $(view).append("<select onChange='updateFilerOption(this)'><option value='-1'>---</option></select><span></span>");
             $.getJSON('/api/table/' + tableName + '/structure/', function (data) {
                columns = $(data.columns);
                columns.each(function(){
                    console.log(this)
                    $(view).find("select").append("<option  link='"+this.link+"' refType='"+JSON.stringify(this.refType)+"' options='"+JSON.stringify(this.options)+"' table='"+this.table+"' value='"+this.type+"'>"+this.name+"</option>")
                })
               });
        }

        function init() {
            counter = 0;
            subtable = 0;
            filter = 0;
            global={}
            var tableName = decodeURIComponent(getTableName());
            global.table=tableName
            $("#naviheader").append(tableName)
            var columns = [];
            $.getJSON('/api/table/' + tableName + '/structure/', function (data) {
                if(!data.admin){
                if(!data.rightsAdmin){
                      $("#modifyStructure").remove();

                }
                }
                columns = data.columns;
                createTable(columns, tableName, $("#headTable"), '/api/table/' + tableName + '/',undefined);
            });
            $("#tableCrumb").prepend(decodeURIComponent(tableName));
            $("#tableCrumb").attr('href', '/detailview/' + tableName + '/');
            $("#insertData").attr('href', '/dataset/' + tableName + '/');
            $("#modifyStructure").attr('href', '/modify/' + tableName + '/');
            $("#deleteData").click(function () {


            });

            jQuery("#filter").accordion({
         active: false,
    collapsible: true,
      heightStyle: "content", autoHeight: false, clearStyle: true

    });
            addFilter("#filterView",tableName)
        }
        function laodSubTable(datasets, tableName, insertTo) {
            var obj = {}
            obj.datasets = JSON.parse(datasets)

            var tableName = tableName
            $.ajax({
                url: '/api/table/' + tableName + '/structure/',

                contentType: 'application/json',
                dataType: 'json',
                success: function (data) {

                columns = data.columns;
                    createTable(data.columns, tableName, insertTo, '/api/table/' + tableName + '/dataset/', obj);
                }
            });
        }
        function genFilterObj(){
            var obj = {}
            obj.filter=[]
            var filterRows=$(".filter")
            filterRows.each(function(){
                var child=filterinnerobj(this);
                if(child!=null){
                obj.filter.push(child)
                }
            })
            console.log(obj);
            return obj
        }
        function laodFiltered() {
            var obj=genFilterObj();
            $("#headTable").html("")
            $.getJSON('/api/table/' + global.table + '/structure/', function (data) {


                columns = data.columns;
                createTable(columns, global.table, $("#headTable"), '/api/table/' + global.table + '/dataset/filter/',obj);

            });
        }
        //creates filter object
        function filterinnerobj(par){

                var elem=$(par).children(":first");
                var span=$(elem.next())

                if(elem.find(":SELECTED").val()>=0) {
                     var child={}
                    child.column=elem.find(":SELECTED").text()
                    if(elem.find(":SELECTED").val()<5||elem.find(":SELECTED").attr("reftype")!="undefined"){
                           console.log(span.find(".min"))
                        if(span.find(".min").length!=0&&span.find(".min").val()!=""){
                            child.min=span.find(".min").val();
                        }
                        if(span.find(".max").length!=0&&span.find(".max").val()!=""){
                            child.max=span.find(".max").val();
                        }
                        if(span.find(".text").length!=0&&span.find(".text").val()!=""){

                            child.substring=$(span.find(".text")).val();
                        }
                        if(span.find(":SELECTED").length!=0){

                            child.option=span.find(":SELECTED").text();
                        }
                    }else {
                        child.table=elem.find(":SELECTED").attr("table");
                        if(elem.find(":SELECTED").val()==6){
                            child.link=elem.find(":SELECTED").attr("link");
                        }
                        var chi=filterinnerobj(span);
                        if(chi!=null){
                            child.child=chi
                        }else{
                            return null
                        }
                    }
                }
             return child
        }

        function createTable(columns, tableName, insertTo, url, post) {
            subtable++
            var url = url
            var post = post
            var table = $("<table>");
            table.addClass("datasets");
            table.attr("id", "tab" + subtable);
            var tableHead = $("<thead  id='descrRow'></thead>")
            table.prepend("<caption  onClick='toggleTable(this.parentNode)'>" + tableName + "</capton>");
            //$("#navigationMenuContent").append("<li><a href='#'><span class=\"ui-icon ui-icon-plusthick\"></span>back</a></li>");
            tableHead.append("<th><input type='checkbox' onClick='toggleAll(this)' id='selectAll'></th><th>data edit</th><th>system ID</th>");
            for (var key in columns) {
               {
                tableHead.append("<th>" + columns[key].name + "</th>");
                $("#navigationMenuContent").append("<li><a href='#" + columns[key].name + "'>" + columns[key].name + "</a></li>");
                }
            }

            table.append(tableHead)
            $(insertTo).html("")
            $(insertTo).append(table)
            createDatasets(subtable, tableName, columns, url, post);


        }
        function toggleTable(element) {

                if(!$(element).hasClass("closed")){
                      $(element).addClass("closed")
                    $(element).find("tr,thead").css("display","none")
                }else{
                      $(element).removeClass("closed")
                    $(element).find("tr,thead").css("display","table-row")
                }


          /*  row.each(function () {
                if($(element).hasClass("closed")){

                    $(this).css("display","none")
                }else{
                    $(this).css("display","table-row")
                }

            });*/

        }

        function toggleAll(element) {

            var row = $(".contentRow").find(".selectDataset");

            row.each(function () {

                this.checked = element.checked;
            });

        }
        function getTableName() {
            var tableName = window.location.href;
            var lastIndex = tableName.lastIndexOf('/');
            var tableName = tableName.substr(0, lastIndex);
            var lastIndex = tableName.lastIndexOf('/');
            var tableName = tableName.substr(lastIndex + 1);
            return tableName;
        }

        function createDatasets(tableID, tableName,columns, url, post) {
            var columns = columns
            var tableID = tableID
            var tableName = tableName;
            $.ajax({
                url: url,
                type: post == undefined ? 'get' : 'post',
                data: JSON.stringify(post),
                contentType: 'application/json',
                dataType: 'json',
                success: function (data) {
                    allDatasets = data.datasets;
                    console.log(allDatasets);

                    allDatasets = data.datasets;
                    console.log(data);


                    for (var key in allDatasets) {


                        $("#tab" + tableID).append("<tr class='contentRow' id='datasetRow" + counter + "'><td><input type='checkbox' class='selectDataset'></td><td><a href='/modifyDataset/" + tableName + "/" + allDatasets[key].id + "'>edit</a></td><td class='datasetClassCell'>" + allDatasets[key].id + "</td></tr>");

                        for (var p in columns) {
                            var sete = false
                            for (var i in allDatasets[key].data) {
                                if (allDatasets[key].data[i].column == columns[p].name) {

                                    if (allDatasets[key].data[i].type == 5) {
                                         if(columns[p].column==undefined){
                                               $("#datasetRow" + counter).append("<td><table onClick='laodSubTable(\"" + JSON.stringify(allDatasets[key].data[i].value).replace(/"/g,"\\\"") + "\",\"" + columns[p].table + "\",this.parentNode)'><caption>"+columns[p].table+"</caption></table></td>")
                                         }else{
                                             console.log(columns[p].name    )
                                             console.log(allDatasets[key].data[i].value)
                                            var tmp="<table class='datasets closed'><caption  onClick='toggleTable(this.parentNode)'>"+columns[p].column+"</capton>"
                                             $(allDatasets[key].data[i].value).each(function(){
                                                 console.log(this)
                                                 tmp+="<tr style='display:none'><td>"+this.value+"</td><tr>"
                                             })
                                             tmp+="</table>"
                                             $("#datasetRow" + counter).append("<td>" + tmp + "</td>")
                                         }
                                    }else if(allDatasets[key].data[i].type == 4){
                                         tmp="<td style='align:center'>"
                                        if(allDatasets[key].data[i].value=="True")
                                         tmp+="&times;"
                                        else
                                        tmp+="&nbsp;"
                                        tmp+= "</td>"
                                         $("#datasetRow" + counter).append(tmp)

                                    } else {

                                        $("#datasetRow" + counter).append("<td>" + allDatasets[key].data[i].value + "&nbsp;</td>")

                                    }
                                    sete = true;
                                }
                            }
                            if (!sete) {
                                $("#datasetRow" + counter).append("<td>" + "&nbsp;</td>")

                            }

                        }
                        counter++;

                    }
                    // cleanUpTable($("#tab" + tableID))
                }

                });


        }


        function deleteDataSet() {

            var datasetIDs = [];
            $(".contentRow").each(function () {

                if ($(this).find(".selectDataset").is(':checked')) {
                    $(this).remove();
                    datasetIDs.push($(this).find(".datasetClassCell").text());

                }

            });

            $.ajax({
                url: '/api/table/' + getTableName() + '/dataset/',
                type: 'delete',
                data: JSON.stringify(datasetIDs),
                contentType: 'application/json',
                dataType: 'json'
            });


        }

        $("#deleteData").click(function () {
            $("#deleteAlertBox").dialog("open");


        });

        // initialize alertbox
        $("#deleteAlertBox").dialog({
            autoOpen: false,
            buttons: {
                "delete": function () {
                    deleteDataSet();
                    $(this).dialog("close");
                },
                "back": function () {
                    $(this).dialog("close");
                }
            }
        });

    function cleanUpTable(table){
        var found=[]
        var rows=$($(table).last().children())
        rows.each( function(i, value){

            $(value).each( function(v, chi){
                console.log($(chi))
               if(($(chi).html()==""||$(chi).html()=="&nbsp;")&&$(chi).is('td')){
                   found.push(v);
               }
            });
        });
        /*for (var i in rows){
            chi=$(rows[i]).children()
            for( var v in chi){
               if(found.indexOf(v)){
                  // $(chi[v]).css("display","none")
               }
            }
        }*/
    }
    </script>
{% endblock %}