{% extends "base.html" %}
{% load i18n %}

{% block header %}

        <a class="crumb" href='#' id='tableCrumb'> <span>></span></a>
        <a class="crumb" href='/histroyCrumb/' id='historyCrumb'> <span>></span></a>


{% endblock %}
{% block content %}
<table id='loggingTable' class='datasets'>
    <caption>{% trans "Logging" %}</caption>
    <thead>
        <th>{% trans "date" %}</th>
        <th>{% trans "user" %}</th>
        <th>{% trans "message" %}</th>

    </thead>


</table>
        <br />

{% endblock %}

{% block menu %}

{% endblock %}
{% block javascript %}
<script language="JavaScript">

    init();
    function init(){
    $("#tableCrumb").prepend(encodeURIComponent(getTableName()));
    $("#tableCrumb").attr('href','/detailview/'+getTableName()+'/')
    $("#historyCrumb").prepend("Log");
    $("#historyCrumb").attr('href', '/tableHistory/'+getTableName()+'/');

}


   function getTableName() {
            var tableName = window.location.href;
            var lastIndex = tableName.lastIndexOf('/');
            var tableName = tableName.substr(0, lastIndex);
            var lastIndex = tableName.lastIndexOf('/');
            var tableName = tableName.substr(lastIndex + 1);
            return tableName;
        }
</script>
{% endblock %}