{% extends "base.html" %}

{% block navigation %}
<div>Tabellen</div>
<ul id="navigationMenuContent">

</ul>

{% endblock %}

{% block header %}

{% endblock %}

{% block menu %}
<a href="/createTable" class="buttonMenuButton">new table</a>

{% endblock %}

{% block javascript %}
<script language="JavaScript">
    $.getJSON('/api/table/', function (tabledata) {
        createTables(tabledata.tables);


    });

    //function to create and fill tables
    function createTables(tables) {
        $.getJSON('/api/category/', function (data) {

            allCatagories = data.categories;

            for (var i in allCatagories) {
                var content = "<div id='"+allCatagories[i]+"'>";
                for (var key in tables) {

                    if (allCatagories[i] == tables[key].category) {

                        var tablename = tables[key].name;
                        // fill Navigation-Bar
                        $("#navigationMenuContent").append("<li><a href='/detailview/" + tables[key].name + "'>" + tables[key].name + "</a></li>");
                        // create tables

                        content+="<a href='/detailview/" + tables[key].name + "'><div class='overViewDiv' id='table" + key + "'>";
                        content += "<div id='overViewHeader'>" + tablename + "</div>";
                        for (var rows in tables[key].columns) {
                           content+="<div class='overViewContentDiv'>" + tables[key].columns[rows] + "</div>";
                        }
                        content += "</div></a>";

                    }
                }
                content+="</div>";
                $("#content").append(content);
            }
        });
    }
</script>
{% endblock %}