{% extends "base.html" %}



{% block navigation %}
<div id="naviheader"></div>
 <ul id="navigationMenuContent">

 </ul>

{% endblock %}

{% block header %}
    <a class="crumb" href='#' id='tableCrumb'> <span>></span></a>
{% endblock %}
{% block menu %}

        <a class='buttonMenuButton' id='insertData' href='#'>Insert Data</a>
        <a class='buttonMenuButton'>Delete Data</a>
        <a class='buttonMenuButton'>Export</a>
        <a class='buttonMenuButton'>Modify Structure</a>


{% endblock %}


{% block content %}
   <table id='detailTable' class='datasets' border='1'><thead id='descrRow'></thead></table>

{% endblock %}
{% block javascript %}
<script language="JavaScript">


init();



/*
    $.getJSON('/api/table/'+tableName+'/',function(data){


    });

    */
function init(){
    var tableName = getTableName();
    $("#naviheader").append(tableName)
     var columns = [];
    $.getJSON('/api/table/'+tableName+'/structure/',function(data){

         columns = data.columns;
         createTable(columns);


    });
    $("#tableCrumb").prepend(tableName);
    $("#tableCrumb").attr('href', '/detailview/'+tableName+'/');
    $("#insertData").attr('href', '/dataset/'+tableName+'/');
}
function createTable(columns){
    var tableName = getTableName();
    var columns = columns;
    $("#detailTable").prepend("<caption>"+tableName+"</capton>");
    //$("#navigationMenuContent").append("<li><a href='#'><span class=\"ui-icon ui-icon-plusthick\"></span>back</a></li>");
    for(var key in columns){
        $("#descrRow").append("<th>"+columns[key].name+"</th>");

        $("#navigationMenuContent").append("<li><a href='#"+columns[key].name+"'>"+columns[key].name+"</a></li>");

    }
}

function getTableName(){
    var tableName = window.location.href;
    var lastIndex = tableName.lastIndexOf('/');
    var tableName = tableName.substr(0,lastIndex);
    var lastIndex = tableName.lastIndexOf('/');
      var tableName = tableName.substr(lastIndex+1);
    return tableName;
}





</script>
{% endblock %}