{% extends "base.html" %}
{% load i18n %}

{% block header %}

<a class="crumb" href='#' id='tableCrumb'> <span>></span></a>
<a class="crumb" href='/histroyCrumb/' id='historyCrumb'> <span>></span></a>


{% endblock %}
{% block content %}
<table id='loggingTable' class='historyTable'>
    <caption>{% trans "Logging" %}</caption>
    <thead>
    <th>{% trans "date" %}</th>
    <th>{% trans "user" %}</th>
    <th>{% trans "type" %}</th>
    <th>{% trans "message" %}</th>

    </thead>


</table>
<br/>

{% endblock %}

{% block menu %}

{% endblock %}
{% block javascript %}
<script language="JavaScript">

    init();
    function init() {
        $.getJSON('/api/table/', function (data) {
            var validTablesName = false;
            for (var k in data.tables) {
                if (data.tables[k].name == getTableName()) {
                    validTablesName = true;
                }
            }
            if (!validTablesName) {

                $(".wrapContent").remove();
                $(".wrapButtonMenu").remove();
                $("body").append("<div class='wrapContent'><div id=''content'><div id='errorblock'></div></div></div>")
            }
            else {
                $("#tableCrumb").prepend(encodeURIComponent(getTableName()));
                $("#tableCrumb").attr('href', '/detailview/' + getTableName() + '/')
                $("#historyCrumb").prepend("Log");
                $("#historyCrumb").attr('href', '/tableHistory/' + getTableName() + '/');


                $.getJSON('/api/table/' + getTableName() + '/history/', function (data) {
                    if (!data.viewLog) {
                        window.location = '/detailview/' + getTableName() + '/';
                    }
                    else {
                        console.log(data);
                        var historyRow = ""
                        for (var key in data.history) {

                            historyRow += "<tr><td>" + data.history[key].date + "</td><td>" + data.history[key].user + "</td><td>" + data.history[key].type + "</td><td><ul>";
                            for (var i in data.history[key].messages) {
                                historyRow += "<li>" + data.history[key].messages[i] + "</li>";

                            }

                            historyRow += "</ul></td></tr>";

                        }


                        $("#loggingTable").append(historyRow);
                    }
                });


            }
        });


    }


    function getTableName() {
        var tableName = window.location.href;
        var lastIndex = tableName.lastIndexOf('/');
        var tableName = tableName.substr(0, lastIndex);
        var lastIndex = tableName.lastIndexOf('/');
        var tableName = tableName.substr(lastIndex + 1);
        return tableName;
    }
</script>
{% endblock %}