{% extends "base.html" %}

{% block navigation %}
<div>Tabellen</div>
 <ul id="navigationMenuContent">

			</ul>

{% endblock %}

{% block menu %}
<a href="/createTable"><button>Neue Tabelle</button></a>

{% endblock %}

{% block javascript %}
<script language="JavaScript" >
    // TODO variable um json format zu testen und tabelle mit daten zu füllen
	var tables = jQuery.parseJSON( '{"tables":[{"name":"labor","dataDescr":["pid","laborid"]},{"name":"patient","dataDescr":["pid","name"]},{"name":"studie1","dataDescr":["studienID","value"]}]}' ).tables;
    // TODO bezug zur datenbank (befinden sich noch keine Daten in der DB)
    var table2 = jQuery.getJSON('/api/table');
	for (key in tables) {
		var tablename = tables[key].name;






		// fill Navigation-Bar
		$("#navigationMenuContent").append("<li><a href='#'>"+tables[key].name+"</a></li>");
		// create tables
		$("#content").append("<a href='#'><div class='overViewDiv' id='table"+key+"'><div id='overViewHeader'>"+tablename+"</div></div></a>");
		for (rows in tables[key].dataDescr){
			$("#table"+key).append("<div class='overViewContentDiv'>"+tables[key].dataDescr[rows]+"</div>");

		}

	}
</script>
{% endblock %}