{% extends "base.html" %}

{% block navigation %}
    <link rel="stylesheet" type="text/css" href="/static/css/admin.css">
        <div>users</div>
 <ul id="navigationMenuContent">

			</ul>

{% endblock %}
{% block header %}
        <a class="crumb" href='/useradmin/' id='userAdmin'> <span>></span></a>


{% endblock %}
{% block content %}
<table id='userTable' class='datasets'>
    <caption>user rights</caption>
    <thead>
        <th>user</th>
        <th>enabled</th>
        <th>create tables</th>
        <th>user admin</th>
    </thead>


</table>
        <br />
<button id='saveUsers'>save</button>
{% endblock %}

{% block menu %}

{% endblock %}
{% block javascript %}
<script language="JavaScript">

    init();
    function init(){
 $.getJSON('/api/myself/', function (data) {
    if(!data.userManager){
        window.location = '/table/';

    }
 });
    $("#userAdmin").prepend("admin users");

    $.getJSON('/api/userrights/', function (data) {

       alphabeticalUsers = [];
       for(var p in data.users){
           alphabeticalUsers.push(data.users[p].name);
       }
       alphabeticalUsers.sort(stringComparison);

      var allUsers = data.users;
        var countCheckboxes = 0;
        console.log(allUsers);
        for(var i in alphabeticalUsers){
        for (var key in allUsers) {
            if(alphabeticalUsers[i] == allUsers[key].name){
        $("#navigationMenuContent").append("<li><a href='#"+allUsers[key].name+"'>"+allUsers[key].name+"</a></li>");
         countCheckboxes++;
          var row = "<tr class='allRows'><td>"+allUsers[key].name+"</td>";
            countCheckboxes++;


            if(allUsers[key].active){
                 row+= "<td><input checked='checked' class='enabled' type='checkbox' id='"+allUsers[key].name+"'><label title='un/lock user' for='"+allUsers[key].name+"'><img class='icn' src='/static/img/refresh-icon.png'></label></td>";
            }
            else{
                row+= "<td><input type='checkbox' class='enabled' id='"+allUsers[key].name+"'><label title='un/lock user' for='"+allUsers[key].name+"'><img class='icn' src='/static/img/refresh-icon.png'></label></td>";
            }
              countCheckboxes++;
            if(allUsers[key].tableCreator){
                row+= "<td><input type='checkbox' checked='checked' id='check"+countCheckboxes+"' class='tableCreator'><label title='create tables' for='check"+countCheckboxes+"'><img class='icn' src='/static/img/browser-icon.png'></label></td>";
            }
            else{
                 row+= "<td><input type='checkbox' id='check"+countCheckboxes+"' class='tableCreator'><label title='create tables' for='check"+countCheckboxes+"'><img class='icn' src='/static/img/browser-icon.png'></label></td>";
            }
              countCheckboxes++;



            if(allUsers[key].userManager){
                row+= "<td><input type='checkbox' checked='checked' id='check"+countCheckboxes+"' class='userManager'><label title='manage users' for='check"+countCheckboxes+"'><img class='icn' src='/static/img/male-avatar-icon.png'></label></td>";
            }
            else{
                row+= "<td><input type='checkbox' id='check"+countCheckboxes+"' class='userManager'><label title='manage users' for='check"+countCheckboxes+"'><img class='icn' src='/static/img/male-avatar-icon.png'></label></td>";
            }

          countCheckboxes++;
            row += "</tr>";
          $("#userTable").append(row);
            $("input:checkbox").button();

        }}

        }

    });

}
$("#saveUsers").click(function(){

    var jsonObj = {}
    var allRows = $(".allRows");
    jsonObj.users = [];
    allRows.each(function(){
       usersObj = {};
        usersObj.name = $(this).find(".enabled").attr('id');
        usersObj.active = $(this).find(".enabled").is(':checked');
       usersObj.tableCreator = $(this).find(".tableCreator").is(':checked');
        usersObj.userManager = $(this).find(".userManager").is(':checked');
        jsonObj.users.push(usersObj);
    });

    $.ajax({
        url:('/api/userrights/'),
        type: 'post',
        data: JSON.stringify(jsonObj),
        contentType: 'application/json',
        dataType: 'json',
        success:function (){
            if(data.errors!=undefined){
                    showErrors(data.errors)
                        return
               }
               if(data.success!=undefined){
                 showSuccess(data.success)

             }
        }

    });


});



</script>
{% endblock %}
{% block css %}
.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active{
    background: greenyellow;
}
{% endblock %}